            <header class="page-header">
                <h1>Admin</h1>
                <p class="page-subheader">Manage you account details.</p>
            </header><!-- .page-header -->
            
            <div class="box-white">
            
                <div class="row">
                
                	<div class="responsive-tab-content">
                    
                    	<!-- Nav Tabs -->
                        <tabset id="adminTabContent" justified="true">
                        <tab>
                            <tab-heading>
                                <span class="dlicons-user"></span> Account
                            </tab-heading>
                            <!-- Account Tab -->
                            <div id="admintabAccount" >
                                <form edit-form id="formAccountTab">
                                    <div class="block-title">
                                        <h2>Account</h2>
                                        <button type="button" toggle-edit class="btn btn-orange btn-toggle btn-edit" data-toggle="tooltip" data-placement="top" title="Edit this section"><span class="dlicons-pencil"></span></button>
                                        <button type="button" ng-click="saveAccount()" class="btn btn-green btn-toggle btn-save hide" data-toggle="tooltip" data-placement="top" title="Save changes"><span class="dlicons-check"></span></button>
                                    </div>

                                    <div id="sectPersonal" class="section-block">
                                        <h3>Personal Information</h3>

                                        <div class="input-block-inline">
                                            <select id="selectSalutation" ng-model="account.title" class="form-control data1" disabled="disabled">
                                                <option selected="selected" disabled="disabled" class="placeholder" value="default">Select salutation</option>
                                                <option value="Mr.">Mr.</option>
                                                <option value="Ms.">Ms.</option>
                                                <option value="Mrs.">Mrs.</option>
                                                <option value="Dr.">Dr.</option>
                                                <option value="Engr.">Engr.</option>
                                            </select>
                                            <label for="selectSalutation">Salutation</label>
                                        </div>

                                        <div class="input-block-inline">
                                            <input type="text" class="form-control data1" ng-model="account.first_name" disabled="disabled" placeholder="Enter first name &hellip;">
                                            <label>First Name</label>
                                        </div>

                                        <div class="input-block-inline">
                                            <input type="text" class="form-control data1" ng-model="account.middle_initial" placeholder="Enter middle initial &hellip;">
                                            <label>Middle Initial</label>
                                        </div>

                                        <div class="input-block-inline-right">
                                            <input type="text" class="form-control data1" ng-model="account.last_name"  disabled="disabled" placeholder="Enter last name &hellip;">
                                            <label>Last Name</label>
                                        </div>
                                    </div><!-- .section-block -->

                                    <div id="sectPayment" class="section-block">
                                        <h3>Payment Information</h3>

                                        <div class="input-block-inline">
                                            <input type="text" class="form-control data1"  disabled="disabled" placeholder="Enter name on card &hellip;">
                                            <label>Name on Card</label>
                                        </div>

                                        <div class="input-block-inline">
                                            <input type="text" class="form-control data1" disabled="disabled" placeholder="Enter card number &hellip;">
                                            <label>Card Number</label>
                                        </div>

                                        <div class="input-block-inline-right">
                                            <select id="selectExpMM" class="form-control data1" disabled="disabled">
                                                <option selected="selected" disabled="disabled" class="placeholder" value="default">Select month</option>
                                                <option>01</option>
                                                <option>02</option>
                                                <option>03</option>
                                                <option>04</option>
                                                <option>05</option>
                                                <option>06</option>
                                                <option>07</option>
                                                <option>08</option>
                                                <option>09</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                            <select id="selectExpYYYY" class="form-control data1" disabled="disabled">
                                                <option selected="selected" disabled="disabled" class="placeholder" value="default">Select year</option>
                                                <option>2014</option>
                                                <option>2015</option>
                                                <option>2016</option>
                                                <option>2017</option>
                                                <option>2018</option>
                                            </select>
                                            <label>Expiration Date</label>
                                        </div>
                                    </div><!-- .section-block -->
                                </form>

                            </div>

                        </tab>

                        <tab>
                            <tab-heading>
                                <span class="dlicons-office"></span> Practice
                            </tab-heading>
                            <!-- Practice Tab -->
                            <div id="admintabPractice">
                                <form edit-form id="formPracticeTab">
                                    <div class="block-title">
                                        <h2>Practice</h2>
                                        <button type="button" toggle-edit class="btn btn-orange btn-toggle btn-edit" data-toggle="tooltip" data-placement="top" title="Edit this section"><span class="dlicons-pencil"></span></button>
                                        <button type="button" ng-click='savePractice()' class="btn btn-green btn-toggle btn-save hide" data-toggle="tooltip" data-placement="top" title="Save changes"><span class="dlicons-check"></span></button>
                                    </div>

                                    <div id="sectPractice" class="section-block">

                                        <div class="input-block">
                                            <input type="text" class="form-control data1" ng-model="practice.name" placeholder="Enter practice name &hellip;" value="Tooth Care Dental Clinic" disabled="disabled">
                                            <label>Practice Name</label>
                                        </div>

                                        <div class="input-block-inline-left">
                                            <input type="text" class="form-control data1" ng-model="practice.address.street_line_1" placeholder="Enter house number and street &hellip;" disabled="disabled">
                                            <label>House Number and Street Name</label>
                                        </div>

                                        <div class="input-block-inline">
                                            <input type="text" class="form-control data1" ng-model="practice.address.city" placeholder="Enter town / county &hellip;"  disabled="disabled">
                                            <label>Town / County</label>
                                        </div>

                                        <div class="input-block-inline">
                                            <input type="text" class="form-control data1" ng-model="practice.address.state" placeholder="Enter state &hellip;"  disabled="disabled">
                                            <label>State</label>
                                        </div>

                                        <div class="input-block-inline-right">
                                            <input type="text" class="form-control data1" ng-model="practice.address.zip" placeholder="Enter ZIP code &hellip;" disabled="disabled">
                                            <label>ZIP Code</label>
                                        </div>

                                        <div class="input-block-inline-left">
                                            <input type="tel" class="form-control data1" ng-model="practice.address.phone" placeholder="Enter phone number &hellip;" disabled="disabled">
                                            <label>Phone Number</label>
                                        </div>

                                        <div class="input-block-inline website-block">
                                            <input type="text" class="form-control data1" ng-model="practice.address.website" placeholder="Enter website address &hellip;"  disabled="disabled">
                                            <label>Website</label>
                                        </div>
                                    </div><!--.section-block-->
                                </form>
                            </div>

                        </tab>

                        <tab>
                            <tab-heading>
                                <span class="dlicons-group"></span> Users
                            </tab-heading>
                            <!-- Users Tab -->
                            <div id="admintabUsers">
                                <div class="block-title">
                                    <h2>Users</h2>
                                    <button type="button" ng-click="usersDialog()" class="btn btn-orange btn-toggle btn-toggle-modal-user" data-toggle="tooltip" data-placement="top" title="Add a New User" data-target="#modalUser"><span class="dlicons-user-add"></span></button>
                                </div>

                                <div id="sectUsers" class="section-block">
                                    <div class="table-wrapper">
                                        <div class="table-container">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr>
                                                    <th class="cell-user">Name</th>
                                                    <th class="cell-username">Username</th>
                                                    <th class="cell-created">Created on</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr  ng-repeat="user in practice.users">
                                                    <td class="cell-user">{{user.first_name}} {{user.middle_initial}} {{user.last_name}}</td>
                                                    <td class="cell-username">{{user.username}}</td>
                                                    <td class="cell-created">
                                                        <div delete-button class="button-block btn-delete">
                                                            <span class="dlicons-remove"></span> Delete this user? <a ng-click="deleteUser(user)" class="link-green">Yes</a> | <a  class="link-orange">No</a>
                                                        </div>
                                                        <span class="create-date">{{user.created_at | date: 'mediumDate'}}</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div><!-- .table-container -->
                                    </div><!-- .table-wrapper -->
                                </div><!-- .section-block -->

                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                <span class="dlicons-user-add"></span> Invite Colleague

                            </tab-heading>
                            <!-- Invite Tab -->
                            <div id="admintabInvite">
                                <div class="block-title">
                                    <h2>Invite Colleague</h2>
                                    <button type="button" ng-click="inviteDialog()" class="btn btn-orange btn-toggle btn-toggle-modal-provider" data-toggle="tooltip" data-placement="top" title="Invite a New Provider" data-target="#modalProvider"><span class="dlicons-user-add"></span></button>
                                </div>

                                <div id="sectInvite" class="section-block">
                                    <div class="table-wrapper">
                                        <div class="table-container">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr>
                                                    <th class="cell-provider">Provider's Name</th>
                                                    <th class="cell-practice">Practice Name</th>
                                                    <th class="cell-invited">Invited on</th>
                                                    <th class="cell-status">Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="provider in providers">
                                                    <td class="cell-provider">{{provider.title}} {{provider.first_name}} {{provider.middle_initial}} {{provider.last_name}}</td>
                                                    <td class="cell-practice">{{provider.practice.name}}</td>
                                                    <td class="cell-invited">{{provider.created_at | date: 'mediumDate'}}</td>
                                                    <td class="cell-status">
                                                        <div delete-button class="button-block btn-delete">
                                                            <span class="dlicons-remove"></span> Delete this user? <a ng-click="deleteProvider(provider)" class="link-green">Yes</a> | <a class="link-orange">No</a>
                                                        </div>
                                                        <span class="label" ng-class="{'label-success': provider.status == 'accepted', 'label-warning':provider.status == 'sent', 'label-info' : provier.status = 'invited',  'label-dander': provider.status == 'rejecte'}">{{provider.status}}</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div><!-- .table-container -->
                                    </div><!-- .table-wrapper -->

                                </div><!-- .section-block -->

                            </div>
                        </tab>

                    </tabset>

                        
                    </div><!-- .responsive-tab-content -->
                    
                </div><!-- .row -->
                
            </div><!-- .box-white -->
