<div id="admintabAccount" >
<p>
    <alert ng-show="paymentNotification.showTrial" type="{{alert.type}}">It is always free to send referrals but you will need a premium membership to receive referrals after {{practice.subscription_active_until | date: 'short'}}. You can upgrade at any time in the account settings.</alert>
    <alert ng-show="paymentNotification.showTrialExpired" type="{{alert.type}}">Your trial is over. You need premium account to receive referrals. You can upgrade at any time in the account settings.</alert>
    <alert ng-show="paymentNotification.showSubscriptionExpired" type="{{alert.type}}">Either your premium account has been cancelled or we were unable to process your payment. Please enter new payment information to activate your premium account features</alert>

    <form edit-form id="formAccountTab" name="accountForm">
        <div class="block-title">
            <h2>Subscription</h2>
        </div>

        <div id="descriptionText" class="section-block">
            Premium accounts are $49.95 per month.
        </div>


        <div access="admin" ng-hide="isPremium()" id="sectUpgrade" class="section-block">
            <button access="admin" type="button" class="btn btn-primary" ng-click="upgradeDialog()">Upgrade to Premium Account</button>
        </div>

        <div ng-show="isPremium()" id="sectEditPayment" class="section-block">
            <button type="button" class="btn btn-primary" ng-click="upgradeDialog()">Edit Payment Information</button>

            <button access="admin" type="button" class="btn btn-primary" ng-click="cancelSubscription()">Cancel Subscription</button>
        </div>

        <div ng-show="isPremium()" id="sectPayment" class="section-block">
            <h3>Payment Information (Premium)</h3>
            Your account number: ************{{practice.last_4_digits}}
        </div>

    </form>
</p>

<p class="col-md-5" style="font-size: 150%;">With a premium account you will be able to send and receive referrals to anyone with a Dental Links Account, the receiving office will not need a premium account to see what you share.</p>
<p class="col-md-4" style="font-size: 150%;">Help all your referring doctors become HIPAA compliant when they refer patients to you electronically.</p>
<p class="col-md-3" style="font-size: 150%;">
    <img src="/img/warning-sign.png" style="float: left; width: 50px; padding: 0.5em;"/>
    At least one office needs a premium account.
</p>

<p>
    <img src="/img/upgrade-reasons-visual-1.png" alt="Dental Links - reasons for upgrade" style="width: 100%; padding: 2em;"/>
</p>


</div>