            <form id="formNewPatient" name="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Select Provider</h4>
                </div>
                <div class="modal-body">
                    <div class="block-title">
                        <h5>Select Provider</h5>
                    </div>


                    <select ng-model="providerId" ng-options="user.id as (user.first_name + ' ' + user.last_name) for user in providers" size="5"></select>

                    <br/>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-orange" ng-disabled="form.$invalid"  ng-click="ok(providerId)">Save</button>
                    <button type="button" class="btn btn-grey" data-dismiss="modal" ng-click="cancel()">Discard</button>
                </div>
            </form>
