<div>

    <h2>Change your password</h2>

    <form novalidate name="form" class="simple-form" >
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</alert>

        <div ng-class="{'has-error': form.password.$dirty && form.password.$invalid }">
            <label for="password">New password:</label><br />
            <input class='form-control' autofocus="autofocus" style="width:initial; border-color: #ccc" name="password" id="password" ng-model="model.password" type="password" ng-minlength="8" ng-required="true"/>
        </div>
        <div  ng-class="{'has-error': form.confirmation.$dirty && (form.confirmation.$invalid || model.password_confirmation !== model.password) }">
            <label for="password_confirmation">Confirm new password:</label><br />
            <input class='form-control' style="width: initial; border-color:#ccc" id="password_confirmation" name="confirmation" ng-model="model.password_confirmation" ng-required="true" type="password" />
        </div>
        <br/>
        <div>
            <button class="btn btn-green btn-lg" ng-click="changePassword(model)"  ng-disabled="form.$invalid || model.password_confirmation !== model.password">Change password</button>
            or <a href="#/sign_in">Sign in</a><br />
        </div>
    </form>




</div>