<div>
    <form name="form" novalidate class="simple-form" ng-if="!authenticated">

        <div>
            <label>
                E-Mail:
                <input type="email" name="email" ng-model="user.email" ng-required="true"/>
            </label>
        </div>

        <div>
            <label>
                Password:
                <input type="password" ng-model="user.password" ng-required="true"/>
            </label>
        </div>

        <div class="success" ng-show="result.success">You have successfully logged in!</div>
        <div class="error" ng-show="result.failure">{{result.statusText}}</div>
        <div class="error" ng-show="form.$invalid && form.$dirty">Invalid login credentials!</div>
        <button ng-click="login(user)" ng-disabled="form.$invalid">Login</button>
        <br />
        <a href="#/reset_password">Forgot password?</a>
    </form>

    <div ng-if="authenticated">
        Testing:
        <ul>
            <li><a href="/#/create_referral">create new referral</a> </li>
            <li>
                <a href="/#/view_referral/{{existingReferralId}}">view existing referral #{{existingReferralId}}</a>
                <input ng-model="existingReferralId" style="width:50px; margin-left: 3em;"/>
            </li>
            <li>
                <a href="#/history">history</a>
            </li>
            <li>
                <a href="#/admin">admin</a>
            </li>
        </ul>
    </div>
</div>