<div>
    <form name="form" novalidate class="simple-form">
        <br />
        <div  ng-show="result.failure" class="alert alert-danger">
            {{result.statusText}}
        </div>

        <div ng-class="{'has-error': form.email.$invalid && form.email.$dirty}">
            <label>
                E-Mail:
                <input type="email" id="email" ng-model="user.email" ng-required="true" class="form-control login"/>
            </label>
        </div>

        <div ng-class="{'has-error': form.password.$invalid && form.password.$dirty}">
            <label>
                Password:
                <input type="password" id="password" ng-model="user.password" ng-required="true" class="form-control login"/>
            </label>
        </div>

        <button ng-click="login(user)">Login</button>
        <br />
        <a href="#/reset_password">Forgot password?</a>
    </form>
</div>