<header class="page-header">
    <h1>User Registration</h1>

    <p class="page-subheader">Complete your registration to join {{practice.name}}.</p>
</header><!-- .page-header -->

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</alert>
<div class="form-wrapper">
    <form name="form" novalidate class="simple-form">
        <div class="box-white">

            <div class="row">

                <div class="responsive-tab-content">
                    <div class="tab-content">

                        <p>Welcome to Dental Links!</p>
                        <p>Please complete the registration form below and your account will be ready to start sending HIPAA compliant referrals for free!</p>


                        <div id="sectPersonal" class="section-block">
                            <h3>Personal Information</h3>

                            <div class="input-block-inline">
                                <select id="selectSalutation" name="salutation" ng-model="invitation.title" class="form-control">
                                    <option selected="selected" disabled="disabled" class="placeholder" value="">Select salutation</option>
                                    <option value="Mr.">Mr.</option>
                                    <option value="Ms.">Ms.</option>
                                    <option value="Mrs.">Mrs.</option>
                                    <option value="Dr.">Dr.</option>
                                </select>
                                <label for="selectSalutation">Salutation</label>
                            </div>

                            <div class="input-block-inline" ng-class="{'has-error': form.first_name.$dirty && form.first_name.$invalid }">
                                <input type="text" name="first_name" class="form-control" ng-model="invitation.first_name" placeholder="Enter first name &hellip;" ng-required="true">
                                <label>First Name</label>
                            </div>

                            <div class="input-block-inline">
                                <input type="text" name="middle_initial" class="form-control" ng-model="invitation.middle_initial" maxlength="1" placeholder="Enter middle initial &hellip;">
                                <label>Middle Initial</label>
                            </div>

                            <div class="input-block-inline" ng-class="{'has-error': form.last_name.$dirty && form.last_name.$invalid }">
                                <input type="text" name="last_name" class="form-control" ng-model="invitation.last_name" placeholder="Enter last name &hellip;" ng-required="true">
                                <label>Last Name</label>
                            </div>



                        </div>
                        <div class="section-block">
                            <h3>Access details</h3>

                            <alert type="danger" ng-show="form.password.$dirty && form.password.$invalid">Password is required and should have at least 8 characters</alert>

                            <div class="input-block-inline" ng-class="{'has-error': form.email.$dirty && form.email.$invalid }">
                                <input type="email" name="email" class="form-control" ng-model="invitation.email" disabled="disabled" placeholder="Enter email &hellip;" ng-required="true">
                                <label>Email</label>
                            </div>

                            <div class="input-block-inline" ng-class="{'has-error': form.password.$invalid }">
                                <input type="password" name="password" class="form-control" ng-model="invitation.password" placeholder="Enter password &hellip;" ng-minlength="8" ng-required="true">
                                <label>Password</label>
                            </div>

                            <div class="input-block-inline" ng-class="{'has-error': (form.confirmation.$invalid || invitation.password_confirmation !== invitation.password) }">
                                <input type="password" name="confirmation" class="form-control" ng-model="invitation.password_confirmation" placeholder="Confirm password&hellip;"
                                       ng-minlength="8" ng-required="true">
                                <label>Password confirmation</label>
                            </div>

                            <div class="input-block-inline" ng-hide="invitation.newPracticeId == invitation.practice.id"  ng-class="{'has-error': form.security.$dirty && form.security.$invalid }">
                                <input type="text" name="security" class="form-control" ng-disabled="invitation.newPracticeId == invitation.practice.id" ng-model="security_code"  placeholder="Enter security code &hellip;" ng-required="invitation.newPracticeId != invitation.practice.id">
                                <label>Security Code</label>
                            </div>

                            <div class="button-block">
                                <button class="btn btn-green btn-lg" ng-click="register(invitation)" ng-disabled="form.$invalid || invitation.password_confirmation !== invitation.password">Register</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>


</div>