<!-- Modal Patient -->

            <form id="formNewPatient" name="patientForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Create a New Patient Record</h4>
                </div>
                <div class="modal-body">
                    <div class="block-title">
                        <h5>Patient Information</h5>
                    </div>
                    <!--<div ng-show="patientForm.$invalid" class="alert alert-danger">
                        <strong>Oops!</strong> Please fix the highlighted errors below.
                    </div>-->
                    <div class="input-block-right" ng-class="{ 'has-error': patientForm.salutation.$dirty && patientForm.salutation.$invalid }">
                        <select id="selectSalutation" name="salutation" ng-model="patient.salutation" ng-options="s for  s in salutations" class="form-control">
                            <option selected="selected" class="placeholder" value="">Select salutation</option>
                        </select>
                    </div>
                    <div class="input-block" ng-class="{ 'has-error': patientForm.firstName.$dirty && patientForm.firstName.$invalid }">
                        <input type="text" name="firstName" class="form-control" ng-model="patient.first_name" placeholder="Enter first name &hellip;" ng-required="true">
                    </div>
                    <div class="input-block-right" ng-class="{ 'has-error': patientForm.middleInitial.$dirty && patientForm.middleInitial.$invalid }">
                        <input type="text" name="middleInitial" class="form-control" ng-model="patient.middle_initial" maxlength="1" placeholder="Enter middle initial &hellip;">
                    </div>
                    <div class="input-block"  ng-class="{ 'has-error': patientForm.lastName.$dirty && patientForm.lastName.$invalid }" >
                        <input type="text" name="lastName" class="form-control" ng-model="patient.last_name" placeholder="Enter last name &hellip;" ng-required="true">
                    </div>
                    <div class="input-block"  ng-class="{ 'has-error': patientForm.birthday.$dirty && patientForm.birthday.$invalid }" >
                        <input type="date" name="birthday" class="form-control" ng-model="patient.birthday" placeholder="Enter birthday &hellip;" ng-required="true">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-orange" ng-disabled="patientForm.$invalid"  ng-click="ok(patient)">Save</button>
                    <button type="button" class="btn btn-grey" data-dismiss="modal" ng-click="cancel()">Discard</button>
                </div>
            </form>
<!-- End Modal Patient -->
