<div class="modal-header">
    <h3>Create Patient</h3>
</div>
<div class="modal-body">
<form name="userForm">
        <div class="field-group">
            <div>
                <label>
                    First Name:
                    <input type="text" name="firstName" ng-model="patient.first_name" ng-required="true"/>
                </label>
                <span ng-hide="userForm.firstName.$valid">First Name is invalid</span>
            </div>
            <div>
                <label>
                    Last Name:
                    <input type="text" name="lastName" ng-model="patient.last_name" ng-required="true"/>
                </label>
                <span ng-hide="userForm.lastName.$valid">Last Name is invalid</span>
            </div>

            <div>
                <label>
                    Date of Birth:
                    <input type="date" name="birthday" ng-model="patient.birthday" ng-required="true"/>
                </label>
                <span ng-hide="userForm.birthday.$valid">Birthday is invalid</span>
            </div>

            <div>
                <label>
                    Email:
                    <input type="email" name="email" ng-model="patient.email" ng-required="true"/>
                </label>
                <span ng-hide="userForm.email.$valid">Email is invalid</span>
            </div>

            <div>
                <label>
                    Phone:
                    <input type="text" name="phone" ng-model="patient.phone" ng-required="true" ng-pattern="/^[\d\s\(\)-.]+$/"/>
                </label>

                <span ng-hide="userForm.phone.$valid">Phone is invalid</span>
            </div>

        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(patient)">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
