<form id="formNewPatient" name="practiceForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a New Practice Record</h4>
    </div>
    <div class="modal-body">
        <div class="block-title">
            <h5>Practice Information</h5>
        </div>

        <div class="input-block" ng-class="{ 'has-error': practiceForm.name.$dirty && practiceForm.name.$invalid }">
            <input type="text" name="name" class="form-control" ng-model="practice.name" placeholder="Practice name &hellip;" ng-required="true">
        </div>

        <div class="input-block-right" ng-class="{ 'has-error': practiceForm.practiceType.$dirty && practiceForm.practiceType.$invalid }">
            <select id="selectRefType" class="form-control" name="practiceType" ng-model="practice.practice_type_id" ng-options="p.id as p.name for p in practiceTypes" ng-required="true">
                <option disabled="disabled" class="placeholder" value="">Select type &hellip;</option>
            </select>
        </div>


        <div class="input-block" ng-class="{ 'has-error': practiceForm.address.$dirty && practiceForm.address.$invalid }">
            <input type="text" name="address" class="form-control" ng-model="practice.address_attributes.street_line_1" placeholder="Address &hellip;" ng-required="true">
        </div>

        <div class="input-block" ng-class="{ 'has-error': practiceForm.city.$dirty && practiceForm.city.$invalid }">
            <input type="text" name="city" class="form-control" ng-model="practice.address_attributes.city" placeholder="City &hellip;" ng-required="true">
        </div>

        <div class="input-block" ng-class="{ 'has-error': practiceForm.state.$dirty && practiceForm.state.$invalid }">
            <select name="state" class="form-control" ng-model="practice.address_attributes.state" placeholder="State &hellip;" ng-required="true">
                <option disabled="disabled" class="placeholder" value="">Select state &hellip;</option>
                <option>Alabama</option>
                <option>Alaska</option>
                <option>Arizona</option>
                <option>Arkansas</option>
                <option>California</option>
                <option>Colorado</option>
                <option>Connecticut</option>
                <option>Delaware</option>
                <option>Florida</option>
                <option>Georgia</option>
                <option>Hawaii</option>
                <option>Idaho</option>
                <option>Illinois Indiana</option>
                <option>Iowa</option>
                <option>Kansas</option>
                <option>Kentucky</option>
                <option>Louisiana</option>
                <option>Maine</option>
                <option>Maryland</option>
                <option>Massachusetts</option>
                <option>Michigan</option>
                <option>Minnesota</option>
                <option>Mississippi</option>
                <option>Missouri</option>
                <option>Montana Nebraska</option>
                <option>Nevada</option>
                <option>New Hampshire</option>
                <option>New Jersey</option>
                <option>New Mexico</option>
                <option>New York</option>
                <option>North Carolina</option>
                <option>North Dakota</option>
                <option>Ohio</option>
                <option>Oklahoma</option>
                <option>Oregon</option>
                <option>Pennsylvania Rhode Island</option>
                <option>South Carolina</option>
                <option>South Dakota</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Utah</option>
                <option>Vermont</option>
                <option>Virginia</option>
                <option>Washington</option>
                <option>West Virginia</option>
                <option>Wisconsin</option>
                <option>Wyoming</option>
            </select>
        </div>

        <div class="input-block" ng-class="{ 'has-error': practiceForm.zip.$dirty && practiceForm.zip.$invalid }">
            <input type="number" name="zip" class="form-control" ng-model="practice.address_attributes.zip" placeholder="Zip code &hellip;" ng-required="true">
        </div>

        <div class="input-block" ng-class="{ 'has-error': practiceForm.phone.$dirty && practiceForm.phone.$invalid }">
            <input type="text" name="phone" class="form-control" ng-model="practice.address_attributes.phone" placeholder="Phone &hellip;" ng-required="true">
        </div>

        <div class="input-block" ng-class="{ 'has-error': practiceForm.website.$dirty && practiceForm.website.$invalid }">
            <input type="text" name="website" class="form-control" ng-model="practice.address_attributes.website" placeholder="Website &hellip;">
        </div>

        <div class="block-title">
            <h5>Contact Information</h5>
        </div>

        <div class="input-block-right" ng-class="{ 'has-error': practiceForm.salutation.$dirty && practiceForm.salutation.$invalid }">
            <select id="selectSalutation" name="salutation" ng-model="practice.salutation" class="form-control">
                <option selected="selected" disabled="disabled" class="placeholder" value="default">Select salutation</option>
                <option value="Mr.">Mr.</option>
                <option value="Ms.">Ms.</option>
                <option value="Mrs.">Mrs.</option>
                <option value="Dr.">Dr.</option>
                <option value="Engr.">Engr.</option>
            </select>
        </div>

        <div class="input-block" ng-class="{ 'has-error': practiceForm.firstName.$dirty && practiceForm.firstName.$invalid }">
            <input type="text" name="firstName" class="form-control" ng-model="practice.account_first_name" placeholder="Contact first name &hellip;" ng-required="true">
        </div>

        <div class="input-block" ng-class="{ 'has-error': practiceForm.lastName.$dirty && practiceForm.lastName.$invalid }">
            <input type="text" name="lastName" class="form-control" ng-model="practice.account_last_name" placeholder="Contact last name &hellip;" ng-required="true">
        </div>

        <div class="input-block" ng-class="{ 'has-error': practiceForm.email.$dirty && practiceForm.email.$invalid }">
            <input type="email" name="email" class="form-control" ng-model="practice.account_email" placeholder="Account email &hellip;" ng-required="true">
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-orange" ng-disabled="practiceForm.$invalid" ng-click="ok(practice)">Save</button>
        <button type="button" class="btn btn-grey" data-dismiss="modal" ng-click="cancel()">Discard</button>
    </div>
</form>