<form id="formNewProvider" name="providerForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Invite a New Provider</h4>
    </div>
    <div class="modal-body">
        <div class="block-title">
            <h5>Provider Information</h5>
        </div>
        <div ng-show="providerForm.$invalid" class="alert alert-danger">
            <strong>Oops!</strong> Please fix the highlighted errors below.
        </div>
        <div class="input-block" ng-class="{ 'has-error': providerForm.firstName.$invalid }">
            <input type="text" name="firstName" class="form-control" ng-model="provider.first_name" placeholder="Enter first name &hellip;" ng-required="true">
        </div>
        <div class="input-block-right" ng-class="{ 'has-error': providerForm.middleInitial.$invalid }">
            <input type="text" name="middleInitial" class="form-control" ng-model="provider.middle_initial" maxlength="1" placeholder="Enter middle initial &hellip;" ng-required="true">
        </div>
        <div class="input-block"  ng-class="{ 'has-error': providerForm.lastName.$invalid }" >
            <input type="text" name="lastName" class="form-control" ng-model="provider.last_name" placeholder="Enter last name &hellip;" ng-required="true">
        </div>
        <div class="input-block" ng-class="{ 'has-error': providerForm.email.$invalid }">
            <input type="email" class="form-control" name="email" ng-model="provider.email" placeholder="Enter provider's email address &hellip;" ng-required="true">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-orange" ng-click="ok(provider)">Save</button>
        <button type="button" class="btn btn-grey" ng-click="cancel()" data-dismiss="modal">Discard</button>
    </div>
</form>
