
<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Upgrade your account</h4>
</div>
<div class="modal-body">
    <div class="block-title">
        <h5>PLEASE UPGRADE YOUR ACCOUNT TO VIEW NEW REFERRALS</h5>
    </div>
    <div >
    	We are sorry but your premium account trial period has ended.  In order to receive referrals from other providers you will need to upgrade to a PREMIUM ACCOUNT. Once your account has been upgraded to a premium account you will be able to send and receive referral information to any account. The recipient of your referrals will NOT need to upgrade to  a premium account.  Please follow this link to <a href="" ng-click="upgrate()">edit your account</a>.
    </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-orange" ng-click="upgrate()">Upgrate</button>
    <button type="button" class="btn btn-grey" ng-click="cancel()" data-dismiss="modal">Close</button>
</div>

