
<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Upgrade your account</h4>
</div>
<div class="modal-body">
    <div class="block-title">
        <h5>Please upgrade your account to view referrals from other providers</h5>
    </div>
    <div >
        Please go to your <a ng-href="#/admin">account settings page</a> and select 'Subscription' tab to activate premium account. After that you will be able to review referrals sent by other providers.
        You will be able to access referral as soon as we obtain a confirmation from payment system.
    </div>
</div>
<div class="modal-footer">

</div>

