<form id="formNewuser" name="userForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add User</h4>
    </div>
    <div class="modal-body">
        <div class="block-title">
            <h5>User Information</h5>
        </div>
        <div class="input-block" ng-class="{ 'has-error': userForm.firstName.$dirty && userForm.firstName.$invalid }">
            <input type="text" name="firstName" class="form-control" ng-model="user.first_name" placeholder="Enter first name &hellip;" ng-required="true">
        </div>
        <div class="input-block"  ng-class="{ 'has-error': userForm.lastName.$dirty && userForm.lastName.$invalid }" >
            <input type="text" name="lastName" class="form-control" ng-model="user.last_name" placeholder="Enter last name &hellip;" ng-required="true">
        </div>
        <div class="input-block" ng-class="{ 'has-error': userForm.email.$dirty && userForm.email.$invalid }">
            <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="Enter user's email address &hellip;" ng-required="true">
        </div>
        <div class="input-block"  ng-class="{ 'has-error': userForm.role.$dirty && userForm.role.$invalid }" >
            <select type="text" name="role" class="form-control" ng-model="user.roles_mask"  ng-required="true">
                <option selected="selected" disabled="disabled" class="placeholder" value="">Select role</option>
                <option value="1">Admin</option>
                <option value="2">Doctor</option>
                <option value="4">Auxiliary</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-orange" ng-click="ok(user)" ng-disabled="userForm.$invalid">Save</button>
        <button type="button" class="btn btn-grey" ng-click="cancel()" data-dismiss="modal">Discard</button>
    </div>
</form>
