{
    amazonAws: {
        accessKeyId: "***YOUR ACCESS KEY***",
        secretAccessKey: "***YOUR SECRET KEY***"
    },

    devServer: {
        rootDir: 'build',
        livereload: false,
        host: 'localhost',
        port: 8000
    },

    environment: {
        local: {
            api_endpoint: 'http://0.0.0.0:3000',
            google_analytics_key: 'LOCAL_KEY'
        },
        dev: {
            api_endpoint: 'https://referral-server.herokuapp.com',
            google_analytics_key: 'UA-28482471-4',
            amazon_aws_bucket: 'dev1.dentallinks.org'
        },
        stage: {
            api_endpoint: 'STAGE_API_URL',
            google_analytics_key: 'UA-28482471-3',
            amazon_aws_bucket: ''
        },
        production: {
            api_endpoint: 'PRODUCTION_API_URL',
            google_analytics_key: 'UA-28482471-2',
            amazon_aws_bucket: ''
        }
    }
}