exports.config = {
     // address of your webdriver-manager
    seleniumAddress: 'http://localhost:4444/wd/hub',
    // baseUrl of the website instance the tests should be run against
    baseUrl: 'http://localhost:4000',
    params: {
        login: {
            // valid credentials for logging in
            correct: {
                email: 'user@example.com',
                pass: 'password'
            },
            // invalid credentials for logging in (should cause login error)
            wrong: {
                email: 'user@example.com',
                pass: 'qwerqwerqwer'
            }
        },
        // id of the referral to run View Referral tests on. Check the tests to see what this referral should have
        viewReferralId: 215,
        // common URL part of individually opened attachments (try opening any of the referral attachments on your environment to find it out)
        attachmentUrlPart: 'https://host/path/?file='
    },
    specs: ['test/e2e/MainSpec.js'],
    maxSessions: 1, // this is in order to make multiple browsers run sequentially
    multiCapabilities: [
        {browserName: 'firefox'},
        {browserName: 'chrome'},
        {browserName: 'internet explorer'} // make sure to set the same Protected Mode settings for all zones in your Internet Options
    ],
    onPrepare: function() {
        // adding a parameter allowing to recognize current browser name. Unfortunately, some tests need to "click differently" depending on the browser
        browser.getCapabilities().then(function (cc) {
            browser.currentRunBrowserName = cc.caps_.browserName;
        });
    },
    jasmineNodeOpts: {
        defaultTimeoutInterval: 60000
    }
};
