<div>

    <h2>Change your password</h2>

    <form novalidate class="simple-form" >

        <div>
            <label for="password">New password</label><br />
            <input autofocus="autofocus" id="password" ng-model="model.password" ng-required="true" type="password" />
        </div>

        <div>
            <label for="password_confirmation">Confirm new password</label><br />
            <input id="password_confirmation" ng-model="model.password_confirmation" ng-required="true" type="password" />
        </div>

        <div><button ng-click="changePassword(model)">Change my password</button></div>
    </form>
    <div class="success" ng-show="!initial && success">Referral was created successfully</div>
    <div class="error" ng-show="!initial && !success">There was an error during referral creation</div>
    <a href="#/sign_in">Sign in</a><br />



</div>