<div>

    <h2>Change your password</h2>

    <form novalidate class="simple-form" >

        <input id="user_reset_password_token" name="user.reset_password_token" type="hidden" value="MNLD2rwg9rmfJxzBH7az" />

        <div>
            <label for="user_password">New password</label><br />
            <input autofocus="autofocus" id="user_password" name="user.password" type="password" />
        </div>

        <div>
            <label for="user_password_confirmation">Confirm new password</label><br />
            <input id="user_password_confirmation" name="user.password_confirmation" type="password" />
        </div>

        <div><input name="commit" type="submit" value="Change my password" /></div>
    </form>
    <a href="#/sign_in">Sign in</a><br />

    <a href="#">Sign up</a><br />

</div>