<div>
    <form novalidate class="simple-form" ng-if="!authenticated">

        <div>
            <label>
                E-Mail:
                <input type="email" ng-model="user.email"/>
            </label>
        </div>

        <div>
            <label>
                Password:
                <input type="password" ng-model="user.password"/>
            </label>
        </div>

        <div class="success" ng-show="success">You have successfully logged in!</div>
        <div class="error" ng-show="failure">Unable to login with provided credentials</div>
        <button ng-click="login(user)">Login</button>

    </form>

    <div ng-if="authenticated">
        You are logged in as {{email}}.
        <button ng-click="logout()">Logout</button>
    </div>
    <a href="#/reset_password">Forgot password?</a>
 </div>