<div>
    <form novalidate class="simple-form" >

        <div>
            <label>
                E-Mail:
                <input type="email" ng-model="user.email" ng-required="true"/>
            </label>
        </div>

        <button ng-click="requestPasswordReset(user)">Request password reset</button>
    </form>
    <div class="success" ng-show="!initial && success">Password reset request was successfully sent</div>
    <div class="error" ng-show="!initial && !success">There was an error during password reset request submission</div>
</div>