    <div>
        <h2>View Referral</h2>
        <div>
        Patient: {{referral.patient.first_name}} {{referral.patient.last_name}}
        </div>
        <div>
        Original Practice: {{referral.orig_practice.name}}
        </div>
        <div>
        Practice Description: {{referral.orig_practice.description}}
        </div>
        <div>
        Memo: {{referral.memo}}
        </div>
        <div>Status: {{referral.status}}</div>
        <div>
            Attachments:
            <div ng-repeat="attachment in referral.attachments">
                <a ng-href="{{attachment.filename}}" target="_blank"><img ng-src="{{attachment.filename}}" width="250px"/></a>
                {{attachment.notes}}
            </div>
        </div>
        <div>
            Notes:
            <ul>
                <li ng-repeat="note in referral.notes">
                    {{note.message}}
                    <!--[<a href ng-click="notes.splice($index, 1)">X</a>]-->
                </li>
            </ul>
            <textarea ng-model="newNote"></textarea>
            <button class="btn" ng-click="submitNote(newNote)">Add note</button>

        </div>

        <button ng-click="acceptReferral(referral)" ng-disabled="referral.status != 'sent'">Accept Referral</button>
        <button ng-click="rejectReferral(referral)" ng-disabled="referral.status != 'sent'">Reject Referral</button>
        <button ng-click="completeReferral(referral)" ng-disabled="referral.status != 'accepted'">Complete Referral</button>

        <div class="success" ng-show="acceptSuccess">Referral was accepted successfully</div>
        <div class="success" ng-show="rejectSuccess">Referral was rejected successfully</div>
        <div class="success" ng-show="completeSuccess">Referral was completed successfully</div>
        <div class="error" ng-show="failure">There was an error during your operation</div>
    </div>

