<form name="guestForm" novalidate class="simple-form guest-form">
    <div class="row">
        <div class="col-xs-10 col-md-4 center-block">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message | i18n}}</alert>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-md-4 center-block">
            <div class="row">
                <div class="col-xs-10 col-md-6">
                    <div class="form-group" ng-class="{'has-error': guestForm.first_name.$invalid && guestForm.first_name.$dirty}">
                        <label>First name:</label>
                        <input type="text" name="first_name" ng-model="guest.first_name" ng-required="true" class="form-control login"/>
                    </div>
                </div>
                <div class="col-xs-10 col-md-6">
                    <div class="form-group" ng-class="{'has-error': guestForm.last_name.$invalid && guestForm.last_name.$dirty}">
                        <label>Last name:</label>
                        <input type="text" name="last_name" ng-model="guest.last_name" ng-required="true" class="form-control login"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-md-4 center-block">
            <div class="form-group" ng-class="{'has-error': guestForm.email.$invalid && guestForm.email.$dirty}">
                <label>E-Mail:</label>
                <input type="email" name="email" id="email" ng-model="guest.email" ng-required="true" class="form-control login"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-md-4 center-block">
            <div class="form-group">
                <div vc-recaptcha></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-md-4 center-block">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <button class="btn btn-success" ng-click="continue(guest)" ng-disabled="guestForm.$invalid">Continue</button>
                </div>
            </div>
        </div>
    </div>
</form>
