<div id="admintabAccount" >
    <p>
        <form edit-form id="formAccountTab" name="accountForm">
            <div class="block-title">
                <h2>Subscription</h2>
            </div>

            <alert ng-show="paymentNotification.showBasic" type="warning">You are currently subscribed to a basic account.</alert>
            <alert ng-show="paymentNotification.showMonthly" type="success">You are currently subscribed to a premium account with a month to month payment plan.</alert>
            <alert ng-show="paymentNotification.showAnnual" type="success">You are currently subscribed to a premium account with an annual payment plan.</alert>
            <alert ng-show="paymentNotification.showDesignation" type="info">Your practice is a member of the  {{designation.name}}. Your premium subscription will expire on {{designation.active_until_override | date: 'short'}}</alert>

<!--
            <div id="descriptionText" class="section-block">
                <span ng-if="subscriptionInterval == 'year'">Premium account is $50.00 per month per practice location or ${{ subscriptionPrice / locationsNumber | money}} annually per practice location.</span>
                <span ng-if="subscriptionInterval == 'month'">Premium account is ${{ subscriptionPrice / locationsNumber | money}} per month per practice location or $500 annually per practice location.</span>
                <span ng-show="subscriptionPrice && subscriptionInterval">For your practice with {{locationsNumber}} locations, your payment will be ${{ subscriptionPrice | money}} per {{subscriptionInterval }}</span>
            </div>
-->


            <div access="admin"  id="sectUpgrade" class="section-block">
                <!--<button access="admin" id="upgradeBtn" type="button" class="btn btn-primary" ng-click="upgradeDialog('month')">Upgrade to Premium Account (monthly)</button>
                <button access="admin" id="upgradeBtnAnnual" type="button" class="btn btn-primary" ng-click="upgradeDialog('year')">Upgrade to Premium Account (annual)</button>-->
                <button access="admin" id="changeSubscription" type="button" ui-sref="change_subscription" class="btn btn-primary">Change Subscription</button>
            </div>

            <!--<div ng-show="isPremium()" id="sectEditPayment" class="section-block">

                <button access="admin" type="button" class="btn btn-primary" ng-click="cancelSubscription()">Cancel Subscription</button>
            </div>
-->
            <div ng-show="isPremium()" id="sectPayment" class="section-block">
                <h3>Payment Information (Premium) - next automatic renewal on {{practice.subscription_active_until | date: 'mediumDate'}}</h3>
                Payment source: ************{{practice.last_4_digits}}
                <br/>
                <button type="button" class="btn btn-primary" ng-click="upgradeDialog()">Edit Payment Source</button>
            </div>

        </form>
    </p>

    <div id="sectCharges" ng-if="practice.stripe_customer_id">
        <div class="block-title">
            <h2>Transactions</h2>
            <div class="btn btn-toggle">
            <i ng-click='refreshEvents()' class="glyphicon glyphicon-refresh btn-toggle btn"></i>
        </div>
        </div>
        <div class="section-block">
            <div class="table-wrapper">
                <div class="table-container">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="cell-date">Date</th>
                            <th class="cell-created">Amount/Plan</th>
                            <th class="cell-copy">Card</th>
                            <th class="cell-description">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  ng-repeat="event in events" ng-if="event.type != 'customer.subscription.updated'">
                            <td class="cell-user">{{event.created * 1000 | date: 'short'}}</td>
                            <td class="cell-copy" >${{ (event.data.object.amount || event.data.object.plan.amount)  | money}}</td>
                            <td class="cell-created">{{event.data.object.source.brand}} ···· {{event.data.object.source.last4}}</td>
                            <td class="cell-description" ng-if="event.type == 'charge.succeeded'">Charged ${{event.data.object.amount | money}} to prolong subscription.</td>
                            <td class="cell-description" ng-if="event.type == 'charge.failed'">{{event.data.object.failure_message}}</td>
                            <td class="cell-description" ng-if="event.type == 'customer.subscription.updated'">{{event.data.object.cancel_at_period_end == true ? 'Subscription has been set to cancel at the end of the billing period' : (event.data.object.plan.amount > event.data.previous_attributes.plan.amount ? ('Upgraded premium plan from $'+ (event.data.previous_attributes.plan.amount | money) + ' to $' + ( event.data.object.plan.amount | money)) : (event.data.object.plan.amount < event.data.previous_attributes.plan.amount ? ('Downgraded premium plan from $' + (event.data.previous_attributes.plan.amount | money) + ' to $' + ( event.data.object.plan.amount | money )) : 'Subscription was changed.'))}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- .table-container -->
            </div><!-- .table-wrapper -->
        </div>
    </div>


    <p class="col-md-12">

        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src="//fast.wistia.net/embed/iframe/o7lllbirvv?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe></div></div>
        <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>

    </p>

    <p class="col-md-12" style="font-size: 150%;">With a premium account you will be able to send and receive referrals to anyone with a Dental Care Links Account, the receiving office will not need a premium account to see what you share.</p>
    <p class="col-md-12" style="font-size: 150%;">Help all your referring doctors become HIPAA compliant when they refer patients to you electronically.</p>
    <p class="col-md-12" style="font-size: 150%;">
        At least one office needs a premium account.
    </p>

</div>
