<div id="admintabInvite">
    <div class="block-title">
        <h2>Invite Colleague</h2>
        <button type="button" ng-click="inviteDialog()" class="btn btn-orange btn-toggle btn-toggle-modal-provider" data-toggle="tooltip" data-placement="top" title="Invite a New Provider" data-target="#modalProvider"><span class="dlicons-user-add"></span></button>
    </div>
    <alert type="warning" style="overflow: hidden;">
        <button type="button" style="float: right; margin-left: 15px;" ng-click="securityCodeDialog()" class="btn btn-green">Generate Security Code</button>
        <span>If a doctor from your practice gets invited to Dental Links, you will need to provide them security code to join and use this account. Use this button to generate security code.</span>
    </alert>


    <div id="sectInvite" class="section-block">
        <div class="table-wrapper">
            <div class="table-container">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="cell-provider">Provider's Name</th>
                        <th class="cell-practice">E-mail</th>
                        <th class="cell-invited">Invited on</th>
                        <th class="cell-status">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="provider in invitedColleagues">
                        <td class="cell-provider">{{provider.title}} {{provider.first_name}} {{provider.middle_initial}} {{provider.last_name}}</td>
                        <td class="cell-practice">{{provider.email}}</td>
                        <td class="cell-invited">{{provider.created_at | date: 'mediumDate'}}</td>
                        <td class="cell-status">
                            <div access="admin" delete-button class="button-block btn-delete" ng-hide="provider.status === 'registered'">
                                <span class="dlicons-remove"></span> Delete this invitation? <a ng-click="deleteProviderInvitation(provider)" class="link-green">Yes</a> | <a class="link-orange">No</a>
                            </div>
                            <span class="label" ng-class="{'label-success': provider.status == 'registered', 'label-info' : provider.status == 'invited'}">{{provider.status}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- .table-container -->
        </div><!-- .table-wrapper -->

    </div><!-- .section-block -->

</div>