<header class="page-header">
    <div class="row">
        <div class="col-xs-12 col-sm-10 header-left" >
            <h1>Subscription
                <a class="btn btn-orange btn-lg pull-right" href="#/history">Continue</a>
            </h1>

            <p ng-if="!fromRegistration" class="page-subheader">Change your subscription</p>
            <p ng-if="fromRegistration" class="page-subheader">Your registration was successful. Please choose a subscription plan and press Continue.</p>
        </div>
    </div>
</header><!-- .page-header -->
<div id="pricing-table">
    <div class="plan-container">
        <div id="freePlanIndicator" ng-class="{'non-visible': currentPlan !== 'basic'}">
            <span class="current-plan-text">your plan</span>
            <span class="glyphicon glyphicon-chevron-down current-plan" aria-hidden="true"></span>
        </div>
        <div class="plan plan1">
            <div class="feature-block">
                <div class="header">Basic</div>
                <div class="price">FREE</div>
                <div class="monthly">forever</div>
            </div>
            <div class='features'>
                <ul>
                    <li>Send unlimited # patient referrals</li>
                    <li>Receive patient referrals from <b>premium</b> accounts</li>
                    <li>Add attachments/images to referrals</li>
                    <li><b>Multiple</b> practice locations</li>
                    <li>Customer support</li>
                </ul>
            </div>
            <div class="feature-block">
                <button class="btn signup" ng-disabled="currentPlan === 'basic'" ng-click="cancelSubscription()">FREE</button>
                <div>forever</div>
            </div>
        </div>
    </div>
    <div class="plan-container">
        <div class='plan-container'>
            <div id="monthlyPlanIndicator" ng-class="{'non-visible': currentPlan !== 'month'}">
                <span class="current-plan-text popular monthly">your plan</span>
                <span class="glyphicon glyphicon-chevron-down current-plan popular monthly" aria-hidden="true"></span>
            </div>
            <div class="plan plan2 popular-plan top ">
                <div class="feature-block">
                    <div class="header">Premium Monthly</div>
                    <div class="price">$50</div>
                    <div class="monthly">per month</div>
                </div>
                <div  class="features-premium">
                    <ul>
                        <li>Send unlimited # patient referrals</li>
                        <li>Receive patient referrals from <b>premium</b> accounts</li>
                        <li>Receive patient referrals from <b>basic</b> accounts</li>
                        <li>Add attachments/images to referrals</li>
                        <li><b>Multiple</b> practice locations</li>
                        <li>Customer support</li>
                    </ul>
                </div>
                <div class="feature-block">
                    <button id='upgrade-month' class="btn signup" ng-disabled="currentPlan === 'month'" ng-click="upgradeDialog('month')">$50 / month*</button>
                    <div>*per practice location</div>
                </div>
            </div>


        </div>
        <div class="plan-container">
            <div id="annualPlanIndicator" ng-class="{'non-visible': currentPlan !== 'year'}">
                <span class="current-plan-text popular annual">your plan</span>
                <span class="glyphicon glyphicon-chevron-down current-plan popular annual" aria-hidden="true"></span>
            </div>

            <div class="plan plan3 popular-plan top">
                <div class="feature-block">
                    <div class="header">Premium Annual</div>
                    <div class="price">$500</div>
                    <div class="monthly">per year</div>
                </div>
                <div  class="features-premium">
                    <ul>
                        <li>Send unlimited # patient referrals</li>
                        <li>Receive patient referrals from <b>premium</b> accounts</li>
                        <li>Receive patient referrals from <b>basic</b> accounts</li>
                        <li>Add attachments/images to referrals</li>
                        <li><b>Multiple</b> practice locations</li>
                        <li>Customer support</li>
                    </ul>
                </div>
                <div class="feature-block">
                    <button id='upgrade-year' class="btn signup" ng-disabled="currentPlan === 'year'" ng-click="upgradeDialog('year')">$500 / year*</button>
                    <div>*per practice location (saves $100)</div>
                </div>
            </div>

        </div>
        <div  class="premium-advantages combined">
            <ul>
                <li>Send unlimited # patient referrals</li>
                <li>Receive patient referrals from <b>premium</b> accounts</li>
                <li>Receive patient referrals from <b>basic</b> accounts</li>
                <li>Add attachments/images to referrals</li>
                <li><b>Multiple</b> practice locations</li>
                <li>Customer support</li>

            </ul>

        </div>

    </div>
</div>
<div class="button-block text-center continue-indent">
    <a class="btn btn-orange btn-lg" href="#/history">Continue</a>
</div>




