<!-- Practice / Users block -->
<div class="row">
    <div class="input-block col-xs-12 col-sm-6">
        <div class="block-title">
            <h2>Practice</h2>
            <div class="btn btn-toggle practice-search-status">
                <i ng-show="loadingPractices" class="glyphicon glyphicon-refresh btn-toggle btn"></i>
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i>No Results Found
                </div>
            </div>
            <button type="button" ng-click="createPractice()" class="btn btn-orange btn-toggle" data-toggle="tooltip" data-placement="top" title="Add practice">
                <span class="dlicons-plus"></span>
            </button>
        </div>
        <input type="text" class="form-control" name="practice" placeholder="Enter existing practice..." ng-model-options="{ debounce: 400 }"
               ng-model="practiceSearch" typeahead-loading="loadingPractices" typeahead-no-results="noResults" typeahead-editable="false" typeahead-on-select="onPracticeSelected($item, $model, $label)"
               typeahead="practice as (practice.name == '-- pending registration --') ? (practice.users[0].last_name == null && practice.users[0].first_name == null ? practice.users[0].email : (practice.users[0].first_name + ' ' + practice.users[0].last_name)) : practice.name for practice in findPractice($viewValue)">
    </div>

    <div class="input-block col-xs-12 col-sm-6">
        <div class="block-title">
            <h2>Users</h2>
        </div>
        <select id="selectUsers" name="user" class="form-control" ng-disabled="!destinationPractice" ng-model="practiceUsers" ng-options="u as u.first_name && u.last_name ? u.first_name + ' ' + u.last_name : u.email for u in destinationPractice.users" ng-required="true">
            <option  class="placeholder" value="">Choose a user &hellip;</option>
        </select>
    </div>
</div><!-- .row -->

<!-- Practice / Users info block -->
<div class="row">
    <!-- Practice INFO -->
    <div class="input-block col-xs-12 col-sm-6" ng-show="practiceSearch" >
        <div class="panel panel-primary">
            <div class="panel-heading with-btn">
                <h3 class="panel-title">Practice info:</h3>
            </div>
            <div class="panel-body">
                <form edit-form="destinationPractice" show-labels="true" id="{{'formConsolePractice'}}" name="practiceForm" class="practice-form">
                    <div class="console-practice-btns">
                        <button ng-show="practiceSearch.id" type="button" toggle-edit class="btn btn-orange btn-toggle btn-edit" data-toggle="tooltip" data-placement="top" title="Edit this section">
                            <span class="dlicons-pencil"></span>
                        </button>
                        <div delete-button class="button-block btn-delete hide">
                            <span class="dlicons-remove"></span> Delete? <a ng-click="removePractice(destinationPractice)" class="link-green">Yes</a> | <a class="link-orange">No</a>
                        </div>
                        <button type="button" ng-click='savePractice(practiceForm, destinationPractice)' class="btn btn-green btn-toggle btn-save hide" data-toggle="tooltip" data-placement="top" title="Save changes" ng-disabled="practiceForm.$invalid">
                            <span class="dlicons-check"></span>
                        </button>
                    </div>
                    <div class="form-group" ng-class="{'has-error': practiceForm.practiceName.$invalid}">
                        <label>Practice name</label>
                        <input type="text" class="form-control data1" name="practiceName" ng-model="destinationPractice.name" disabled="disabled" ng-required="true">
                    </div>
                    <div class="form-group">
                        <label>Owner</label>
                        <input type="text" class="form-control data1" value="{{destinationPractice.owner.title}} {{destinationPractice.owner.first_name}} {{destinationPractice.owner.last_name}}" disabled="disabled">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control data1" value="{{destinationPractice.owner.email}}" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error': practiceForm.practiceType.$invalid && practiceSearch.id}">
                                <label>Practice type</label>
                                <select class="form-control data1 select" name="practiceType" ng-model="destinationPractice.practice_type"  ng-options="p as p.name for p in practiceTypes track by p.id" disabled="disabled" ng-required="true">
                                    <option class="placeholder" value="">Select type &hellip;</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>

                <!--Accordion Address-->
                <accordion close-others="false">
                    <accordion-group  heading="{{'Address #' + ($index + 1)}}" is-open="address._isOpen" ng-repeat="address in practiceSearch.addresses">
                        <form edit-form="address" show-labels="true" id="{{'formConsolePracticeAddress' + $index}}" name="addressForm" class="address-form">
                            <div class="console-address-btns">
                                <button type="button" toggle-edit="{{address.new}}" class="btn btn-orange btn-toggle btn-edit" data-toggle="tooltip" data-placement="top" title="Edit this section"><span class="dlicons-pencil"></span></button>
                                <div delete-button class="button-block btn-delete hide" ng-show="practiceSearch.addresses.length > 1">
                                    <span class="dlicons-remove"></span> Delete? <a ng-click="removeAddress(address)" class="link-green">Yes</a> | <a class="link-orange">No</a>
                                </div>
                                <button type="button" ng-click='saveAddress(addressForm, address)' class="btn btn-green btn-toggle btn-save hide" data-toggle="tooltip" data-placement="top" title="Save changes" ng-disabled="addressForm.$invalid"><span class="dlicons-check"></span></button>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group" ng-class="{'has-error': addressForm.street.$invalid}">
                                        <label>Street</label>
                                        <input type="text" class="form-control data1" name="street" ng-model="address.street_line_1" disabled="disabled" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{'has-error': addressForm.city.$invalid}">
                                        <label>City</label>
                                        <input type="text" class="form-control data1" name="city" ng-model="address.city" disabled="disabled" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-show="address.street_line_2">
                                <label>Street 2</label>
                                <input type="text" class="form-control data1" ng-model="address.street_line_2" disabled="disabled">
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group" ng-class="{'has-error': addressForm.phone.$invalid}">
                                        <label>Phone</label>
                                        <input type="tel" class="form-control data1" name="phone" phone-formatter ng-model="address.phone" disabled="disabled">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group" ng-class="{'has-error': addressForm.state.$invalid}">
                                        <label>State</label>
                                        <state-select class="{data1: !address.new}" name="state" address="address" disabled="{{!address.new}}"></state-select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{'has-error': addressForm.zip.$invalid}">
                                        <label>Zip</label>
                                        <input type="text" class="form-control data1" name="zip" ng-model="address.zip" disabled="disabled" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Website</label>
                                <input type="text" class="form-control data1" name="website" ng-model="address.website" disabled="disabled">
                            </div>
                        </form>
                    </accordion-group>
                    <div class="row">
                        <div class="col-xs-offset-7 col-xs-5">
                            <button type="button" ng-hide="practiceSearch.addresses.length >= 20 || !practiceSearch.id" ng-click="addAddress()" class="btn btn-green btn-toggle-shifted btn-edit btn-add-address pull-right" data-toggle="tooltip" data-placement="top" title="Add practice address">
                                <span class="dlicons-plus"></span> Add Address
                            </button>
                        </div>
                    </div>
                </accordion><!--Accordion end-->
            </div>
        </div>
    </div>

    <!-- Users INFO -->
    <div class="input-block col-xs-12 col-sm-6" ng-show="practiceUsers">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">User info:</h3>
                <div delete-button class="button-block btn-delete">
                    <span class="dlicons-remove"></span> Delete this user? <a ng-click="deleteUser(practiceUsers)" class="link-green">Yes</a> | <a  class="link-orange">No</a>
                </div>
                <div ng-click="editDialog(practiceUsers)" class="button-block btn-change-password" ng-hide="(practiceUsers.first_name === null && practiceUsers.last_name === null) || practiceUsers.email_bindings === undefined">
                    <span class="dlicons-pencil" title="Edit user"></span>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Full user name</label>
                    <input type="text" class="form-control data1" value="{{practiceUsers.title}} {{practiceUsers.first_name}} {{practiceUsers.middle_initial}} {{practiceUsers.last_name}}" disabled="disabled">
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control data1" value="{{practiceUsers.email}}" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>No login</label>
                            <input type="checkbox" class="checkbox" ng-checked="practiceUsers.no_login" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <input type="text" class="form-control data1" value="{{showFullRole(practiceUsers.roles_mask)}}" disabled="disabled">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Create</label>
                            <input type="text" class="form-control data1" value="{{practiceUsers.created_at | date: 'mediumDate'}}" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Update</label>
                            <input type="text" class="form-control data1" value="{{practiceUsers.updated_at | date: 'mediumDate'}}" disabled="disabled">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- .row -->
