<!-- Practice / Users block -->
<div class="row">
    <div class="input-block col-xs-12 col-sm-6">
        <div class="block-title">
            <h2>Practice</h2>
            <i ng-show="loadingPractices" class="glyphicon glyphicon-refresh btn-toggle btn"></i>
            <div ng-show="noResults" class="btn-toggle btn">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>
        <input type="text" class="form-control" name="practice" placeholder="Enter existing practice..." ng-model-options="{ debounce: 300 }"
               ng-model="practiceSearch" typeahead-loading="loadingPractices" typeahead-no-results="noResults" typeahead-editable="false"
               typeahead-on-select="onPracticeSelected($item, $model, $label)"
               typeahead="practice as (practice.name == '-- pending registration --') ?
               (practice.users[0].last_name == null && practice.users[0].first_name == null ? practice.users[0].email :
               (practice.users[0].first_name + ' ' + practice.users[0].last_name)) : practice.name for practice in findPractice($viewValue)">
    </div>

    <div class="input-block col-xs-12 col-sm-6">
        <div class="block-title">
            <h2>Users</h2>
            <button ng-disabled="!destinationPractice || destinationPractice.isInvitation" type="button" ng-click="usersDialog()" class="btn btn-orange btn-toggle btn-toggle-modal-user"
                    data-toggle="tooltip" data-placement="top" title="Add a New User" data-target="#modalUser"><span class="dlicons-user-add"></span></button>
        </div>
        <select id="selectUsers" name="user" class="form-control" ng-disabled="!destinationPractice" ng-model="practiceUser"
                ng-options="u as u.first_name && u.last_name ?
                    u.first_name + ' ' + u.last_name : u.email for u in destinationPractice.users" ng-required="true">
            <option  class="placeholder" value="">Choose a user &hellip;</option>
        </select>
    </div>
</div><!-- .row -->

<!-- Practice / Users info block -->
<div class="row">
    <!-- Practice INFO -->
    <div class="input-block col-xs-12 col-sm-6" ng-show="practiceSearch" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Practice info:</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Practice name</label>
                    <input type="text" class="form-control data1" value="{{practiceSearch.name}}" disabled="disabled">
                </div>
                <div class="form-group">
                    <label>Owner</label>
                    <input type="text" class="form-control data1" value="{{practiceSearch.owner.title}} {{practiceSearch.owner.first_name}} {{practiceSearch.owner.last_name}}" disabled="disabled">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control data1" value="{{practiceSearch.owner.email}}" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Practice type</label>
                            <input type="text" class="form-control data1" value="{{practiceSearch.practice_type.name}}" disabled="disabled">
                        </div>
                    </div>
                </div>

                <!--Accordion Address-->
                <accordion close-others="false">
                    <accordion-group  heading="{{'Address #' + ($index + 1)}}" is-open="address._isOpen" ng-repeat="address in practiceSearch.addresses">
                        <form edit-form="address" id="{{'formConsolePracticeAddress' + $index}}" name="addressForm" class="address-form">
                            <div class="console-address-btns">
                                <button type="button" toggle-edit="{{address.new}}" class="btn btn-orange btn-toggle btn-edit" data-toggle="tooltip" data-placement="top" title="Edit this section"><span class="dlicons-pencil"></span></button>
                                <div delete-button class="button-block btn-delete hide" ng-show="practiceSearch.addresses.length > 1">
                                    <span class="dlicons-remove"></span> Delete? <a ng-click="removeAddress(address)" class="link-green">Yes</a> | <a class="link-orange">No</a>
                                </div>
                                <button type="button" ng-click='saveAddress(addressForm, address)' class="btn btn-green btn-toggle btn-save hide" data-toggle="tooltip" data-placement="top" title="Save changes" ng-disabled="addressForm.$invalid"><span class="dlicons-check"></span></button>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group" ng-class="{'has-error': addressForm.street.$invalid}">
                                        <label ng-class="{hidden:!address.new}">Street</label>
                                        <input type="text" class="form-control data1" name="street" ng-model="address.street_line_1" disabled="disabled" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{'has-error': addressForm.city.$invalid}">
                                        <label ng-class="{hidden:!address.new}">City</label>
                                        <input type="text" class="form-control data1" name="city" ng-model="address.city" disabled="disabled" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-show="address.street_line_2">
                                <label ng-class="{hidden:!address.new}">Street 2</label>
                                <input type="text" class="form-control data1" ng-model="address.street_line_2" disabled="disabled">
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group" ng-class="{'has-error': addressForm.phone.$invalid}">
                                        <label ng-class="{hidden:!address.new}">Phone</label>
                                        <input type="tel" class="form-control data1" name="phone" phone-formatter ng-model="address.phone" disabled="disabled">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group" ng-class="{'has-error': addressForm.state.$invalid}">
                                        <label ng-class="{hidden:!address.new}">State</label>
                                        <state-select class="{data1: !address.new}" name="state" address="address" disabled="{{!address.new}}"></state-select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" ng-class="{'has-error': addressForm.zip.$invalid}">
                                        <label ng-class="{hidden:!address.new}">Zip</label>
                                        <input type="text" class="form-control data1" name="zip" ng-model="address.zip" disabled="disabled" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label ng-class="{hidden:!address.new}">Website</label>
                                <input type="text" class="form-control data1" name="website" ng-model="address.website" disabled="disabled">
                            </div>
                        </form>
                    </accordion-group>
                    <div class="row">
                        <div class="col-xs-offset-7 col-xs-5">
                            <button type="button" ng-hide="practiceSearch.addresses.length >= 20" ng-click="addAddress()" class="btn btn-green btn-toggle-shifted btn-edit btn-add-address pull-right" data-toggle="tooltip" data-placement="top" title="Add practice address">
                                <span class="dlicons-plus"></span> Add Address
                            </button>
                        </div>
                    </div>
                </accordion><!--Accordion end-->
            </div>
        </div>
    </div>

    <!-- Users INFO -->
    <div class="input-block col-xs-12 col-sm-6" ng-show="practiceUser">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">User info:</h3>
                <div delete-button class="button-block btn-delete">
                    <span class="dlicons-remove"></span> Delete this user? <a ng-click="deleteUser(practiceUser)" class="link-green">Yes</a> | <a  class="link-orange">No</a>
                </div>
                <div ng-click="editDialog(practiceUser)" class="button-block btn-change-password"
                     ng-hide="(practiceUser.first_name === null && practiceUser.last_name === null) || practiceUser.status == 'invited'">
                    <span class="dlicons-pencil" title="Edit user"></span>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Full user name</label>
                    <input type="text" class="form-control data1" value="{{practiceUser.title}} {{practiceUser.first_name}}
                        {{practiceUser.middle_initial}} {{practiceUser.last_name}}" disabled="disabled">
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control data1" value="{{practiceUser.email}}" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>No login</label>
                            <input type="checkbox" class="checkbox" ng-checked="practiceUser.no_login" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <input type="text" class="form-control data1" value="{{showFullRole(practiceUser.roles_mask)}}" disabled="disabled">
                </div>
                <div class="form-group invite-link-group" ng-if="practiceUser.status == 'invited'">
                    <label>Invite link</label>
                    <p class="form-control-static">
                        <a href="{{showInviteLink(practiceUser)}}" target="_blank">{{showInviteLink(practiceUser)}}</a>
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Create</label>
                            <input type="text" class="form-control data1" value="{{practiceUser.created_at | date: 'mediumDate'}}"
                                   disabled="disabled">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Update</label>
                            <input type="text" class="form-control data1" value="{{practiceUser.updated_at | date: 'mediumDate'}}"
                                   disabled="disabled">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- .row -->
