<header class="page-header">
    <h1>Referral</h1>
    <p class="page-subheader">Fill out information for a new referral.</p>
</header><!-- .page-header -->

<div class="form-wrapper">
    <form id="formCreateReferral" name="form" novalidate="novalidate">
        <div class="box-white box-padded">
            <!-- GUEST -->
            <div class="row">
                <div class="input-block col-xs-12 col-sm-12">
                    <div class="block-title">
                        <h2>Referring doctor</h2>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 field-margin" ng-class="{'has-error': form.guestFirstName.$dirty && form.guestFirstName.$invalid }">
                            <alert type="warning" ng-show="form.guestFirstName.$dirty && form.guestFirstName.$invalid">Please enter first name</alert>
                            <input type="text" class="form-control" name="guestFirstName" placeholder="First name"
                                   ng-model="guest.first_name" ng-required="true">
                        </div>

                        <div class="col-xs-12 col-sm-6 field-margin" ng-class="{'has-error': form.guestLastName.$dirty && form.guestLastName.$invalid }">
                            <alert type="warning" ng-show="form.guestLastName.$dirty && form.guestLastName.$invalid">Please enter last name</alert>
                            <input type="text" class="form-control" name="guestLastName" placeholder="Last name"
                                   ng-model="guest.last_name" ng-required="true">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12" ng-class="{'has-error': form.guestEmail.$dirty && form.guestEmail.$invalid }">
                            <alert type="warning" ng-show="form.guestEmail.$dirty && form.guestEmail.$invalid">Please enter email address</alert>
                            <input type="text" class="form-control" name="guestEmail" placeholder="Email address"
                                   ng-model="guest.email" ng-required="true">
                        </div>
                    </div>

                </div>
            </div>
            <!-- GUEST -->

            <!-- Patient block -->
            <div class="row">
                <div class="input-block col-xs-12 col-sm-12" ng-class="{'has-error': form.patient.$dirty && form.patient.$invalid }">
                    <div class="block-title">
                        <h2>Patient</h2>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 field-margin" ng-class="{ 'has-error': form.patientFirstName.$dirty && form.patientFirstName.$invalid }">
                            <input type="text" name="patientFirstName" class="form-control" ng-model="patient.first_name" placeholder="Enter first name &hellip;" ng-required="true">
                        </div>

                        <div class="col-xs-12 col-sm-6 field-margin" ng-class="{ 'has-error': form.patientLastName.$dirty && form.patientLastName.$invalid }" >
                            <input type="text" name="patientLastName" class="form-control" ng-model="patient.last_name" placeholder="Enter last name &hellip;" ng-required="true">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6" ng-class="{ 'has-error': form.patientPhone.$dirty && form.patientPhone.$invalid }" >
                            <input type="tel" name="patientPhone" class="form-control" ng-model="patient.phone" phone-formatter>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="datepicker" ng-class="{ 'has-error': form.patientBirthday.$dirty && form.patientBirthday.$invalid }">
                                <p class="input-group">
                                    <input type="text" class="form-control" name="patientBirthday" datepicker-popup="M/d/yyyy" placeholder="m/d/yyyy" ng-model="patient.birthday" is-open="datepickerStatus.opened"  ng-required="true" close-text="Close"/>
                                    <span class="input-group-btn datepicker-btn">
                                        <button type="button" class="btn btn-default" ng-click="openPatientDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .row -->

            <!-- Practice / Provider block -->
            <div class="row">
                <div class="input-block col-xs-12 col-sm-12" ng-class="{'has-error': form.practice.$dirty && form.practice.$invalid }">
                    <div class="block-title">
                        <h2>Practice</h2>
                    </div>
                    <alert type="warning" ng-show="form.practice.$dirty && form.practice.$invalid">Please select existing practice or invite new provider</alert>
                    <input type="text" class="form-control" name="practice" placeholder="Enter existing practice/provider or add new provider with button on the right..."
                           ng-model="practiceSearchText" typeahead-on-select="onPracticeSelected($item, $model, $label)" ng-model-options="{ debounce: 300 }"
                           uib-typeahead="practice as (practice.name == '-- pending registration --') ? (practice.users[0].last_name == null && practice.users[0].first_name == null ? practice.users[0].email : (practice.users[0].first_name + ' ' + practice.users[0].last_name)) : practice.name for practice in findPractice($viewValue) "
                           autocomplete="off" ng-disabled="true">
                </div>
            </div>

            <referral-to-provider></referral-to-provider>
            <!-- .row -->

            <!-- Procedure block -->
            <referral-procedure-block></referral-procedure-block>
            <!-- .row -->

            <teeth-chart></teeth-chart>
            <attachments></attachments>
            <notes input-model="model.referral" immediate-update="immediateUpdate"></notes>

        </div><!-- .box-white -->

        <div class="button-block">
            <button  class="btn btn-orange btn-lg"  ng-click="createReferral(model)" ng-disabled="form.$invalid || isInvalidAttachments()">Sign &amp; Send</button>
        </div><!-- .button-block -->
    </form>
</div><!-- .form-wrapper -->

