<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Choose a date</h4>
</div>
<div class="modal-body">
    <div class="block-title">
        <h5>Please pick a date from calendar below</h5>
    </div>
    <div class="datepicker">
        <uib-datepicker ng-model="date" ng-change="dateSelected()" class="well well-sm"></uib-datepicker>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-grey" ng-click="cancel()" data-dismiss="modal">Close</button>
</div>