<header class="page-header">
    <h1>Debug</h1>

    <p class="page-subheader"></p>
</header><!-- .page-header -->


<div class="box-white">
    <div class="row">
        <div class="input-block">
            <table class="table">
                <tr>
                    <td>Version:</td>
                    <td>{{COMMITHASH}}</td>
                </tr>
                <tr>
                    <td>Release Date:</td>
                    <td>{{DATETIME}}</td>
                </tr>
                <tr>
                    <td>Server Endpoint:</td>
                    <td>{{API_ENDPOINT}}</td>
                </tr>
            </table>
            <div class="panel-body">
                <a class="btn btn-primary download-emails-btn" href="/#/console/practice">Close</a>
            </div>
        </div>
    </div>
</div>
