<!-- Modal Delete Provider -->
<form id="formDeleteProvider" name="deleteProviderForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Delete invited provider</h4>
    </div>
    <div class="modal-body">
        <h3>Do you want to delete invited provider?</h3>
    </div>
    <div class="modal-footer">
        <button type="button"  class="btn btn-orange"  ng-click="ok()">Ok</button>
        <button type="button" class="btn btn-grey" data-dismiss="modal" ng-click="cancel()">Discard</button>
    </div>
</form>
<!-- End Modal Delete Provider -->
