<div class="modal-header">
    <h4 class="modal-title" id="confirmationTitle">Confirm downgrade subscription:</h4>
</div>
<div class="modal-body">
    <div class="block-title">
        <p>You are about to downgrade your subscription plan.</p>
        <p>In case of This will loose these features:</p>
        <ul>
            <li>You will unable to receive referrals from basic accounts.</li>
        </ul>
        <p>You can always change your mind and return to a paid subscriptions. Just choose your payment plan and proceed with payment details.</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-orange" ng-click="ok()">Downgrade</button>
    <button type="button" class="btn btn-grey" ng-click="cancel()" data-dismiss="modal">Close</button>
</div>
