<div class="modal-header">
    <h4 class="modal-title" id="confirmationTitle">Confirm downgrade subscription:</h4>
</div>
<div class="modal-body">
    <div class="block-title">
        <p>You are about to downgrade your subscription.</p>
        <p>The following features will <strong>no longer</strong> be available:</p>
        <ul>
            <li>Receive referrals from basic accounts</li>
        </ul>
        <p>This will take effect at the end of the billing cycle.</p>
        <p>You can upgrade your subscription at any time.</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-orange" ng-click="ok()">Downgrade</button>
    <button type="button" class="btn btn-grey" ng-click="cancel()" data-dismiss="modal">Close</button>
</div>
