<form id="formNewuser" name="userForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit user</h4>
    </div>
    <div class="modal-body">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</alert>
        <div class="input-block">
            <input type="text" name="userName" class="form-control" ng-value="user.first_name +' '+ user.last_name" ng-disabled="true">
        </div>
        <div class="input-block">
            <input type="text" name="userRole" class="form-control" ng-value="roleName(user.roles_mask)" ng-disabled="true">
        </div>
        <div class="input-block" ng-class="{ 'has-error': userForm.password.$dirty && userForm.password.$invalid }">
            <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Enter Password &hellip;" ng-minlength="8"  ng-required="userForm.password.$dirty">
        </div>
        <div class="input-block" ng-class="{ 'has-error': userForm.password_confirmation.$dirty && (userForm.password_confirmation.$invalid  || user.password_confirmation !== user.password) }">
            <input type="password" name="password_confirmation" class="form-control" ng-model="user.password_confirmation" placeholder="Enter Password Again &hellip;" ng-minlength="8" ng-required="userForm.password.$dirty">
        </div>
        <alert type="warning">Users with Admin privileges are allowed to create and edit users, allows auxiliary to sign and send referrals and to set referrals complete</alert>
        <label>Notification preference:</label>
        <div class="radio">
            <label>
                <input type="radio" ng-model="user.notification_preference" value="2" ng-checked="user.notification_preference == 2 ? true : false">
                All email notifications for practice
            </label>
        </div>
        <div class="radio" ng-show="user.roles_mask == 1">
            <label>
                <input type="radio" ng-model="user.notification_preference" value="1" ng-checked="user.notification_preference == 1 ? true : false">
                Email notifications from:
            </label>
            <div    ng-show="user.notification_preference == 1"
                    isteven-multi-select
                    input-model="listInputUsers"
                    output-model="listOutputUsers"
                    button-label="first_name last_name"
                    item-label="first_name last_name"
                    tick-property="ticked"
                    helper-elements="filter none all"
                    >
            </div>
        </div>
        <div class="radio" ng-show="user.roles_mask != 1">
            <label>
                <input type="radio" ng-model="user.notification_preference" value="1" ng-checked="user.notification_preference == 1 ? true : false">
                Email notifications for me only
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="user.notification_preference" value="0" ng-checked="user.notification_preference == 0 ? true : false">
                No email notifications
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-orange" ng-click="ok(user)" ng-disabled="userForm.$invalid || user.password_confirmation !== user.password">Save</button>
        <button type="button" class="btn btn-grey" ng-click="cancel()" data-dismiss="modal">Discard</button>
    </div>
</form>
