<form id="addPasswordForm" name="addPasswordForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit user</h4>
    </div>
    <div class="modal-body">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message | i18n}}</alert>
        <div class="input-block">
            <select id="selectSalutation" name="salutation" ng-model="user.title" class="form-control">
                <option selected="selected" disabled="disabled" class="placeholder" value="">Select salutation</option>
                <option value="Mr.">Mr.</option>
                <option value="Ms.">Ms.</option>
                <option value="Mrs.">Mrs.</option>
                <option value="Dr.">Dr.</option>
            </select>
        </div>
        <div class="input-block">
            <input type="text" name="userName" class="form-control" ng-value="user.first_name +' '+ user.last_name" ng-disabled="true">
        </div>
        <div ng-if="is_multispecialty()">
            <label>Specialty:</label>
            <div class="input-block">
                <select class="form-control" ng-model="user.specialty_type_id" ng-options="p.id as p.name for p in practiceTypes">
                    <option selected="selected" class="placeholder" value="">Select specialty &hellip;</option>
                </select>
            </div>
        </div>
        <user-addresses user="user" practice-addresses="practiceAddresses"></user-addresses>
        <alert type="warning">If you would like to allow this user to login please enter an email address to send them an invite</alert>
        <div class="input-block">
            <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Enter Email &hellip;" ng-required="true">
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-green" ng-click="save(user)" ng-if="is_multispecialty()">Save</button>
        <button type="button" class="btn btn-grey" ng-click="cancel()" data-dismiss="modal">Discard</button>
        <button type="submit" class="btn btn-orange" ng-click="ok(user)" ng-disabled="addPasswordForm.$invalid">Send</button>
    </div>
</form>
