<header class="page-header">
    <h1>Frequently Asked Questions</h1>

    <p class="page-subheader">Find the answer or email us.</p>
</header><!-- .page-header -->


<div class="box-white">
    <div class="row">
        <div class="input-block">

            <h3>How do I create a new referral?</h3>

            To create a new referral click the NEW REFERRAL button on the History Page.
            Fill the form with the appropriate information. Attach any necessary radiographs or documents. Using the notes field you can add additional information. When finished you may Save the
            referral or Sign and Send it.
        </div>
    </div>
    <div class="row">
        <div class="input-block">

            <h3>What does it cost to use the Dental Care Links Service?</h3>

            It is always free to send referral, upgrade to a premium account to be able to receive referrals.
            Premium accounts are $50.00 per month.
        </div>
    </div>
    <div class="row">
        <div class="input-block">

            <h3>Can I send a referral to any dentist?</h3>

            It is easy to send referrals to any dentist, if the dentist is not already a Dental Care Links user, you can send them a referral and invite them to join with just their name and email
            address.
        </div>
    </div>
    <div class="row">
        <div class="input-block">
            <h3>Is Dental Care Links HIPAA Compliant?</h3>

            <p>Yes, Dental Care Links makes it very simple to share patient referral information online without risking your patient’s privacy.</p>

        </div>
    </div>
    <div class="row">
        <div class="input-block">
            <h3>How do I send a post-op report after I complete the patient's treatment?</h3>

            <p>All referrals active and complete act as a shared patient file. To update the file just open the original referral and add any necessary attachments and notes. The updated
                information will be available immediately and the referring dentists will be notified that the patient information has been updated.</p>

        </div>
    </div>
    <div class="row">
        <div class="input-block">
            <h3>Can I invite someone to use Dental Care Links without sending them a new referral?</h3>

            <p>Yes, In the account setting page use the + Invite Colleagues tab?</p>
        </div>
    </div>
    <div class="row">
        <div class="input-block">
            <h3>Can more than one dentist use the same account?</h3>

            <p>Yes, From the ADMIN page under the USERS tab you will be able to invite dentist from your practice and auxiliary to share your account.</p>
        </div>
    </div>
    <div class="row">
        <div class="input-block">
            <h3>Can I edit a referral that I have already sent?</h3>

            <p>Yes, Simply open the referral you would like to edit and add images or notes. These updated images and notes will be viewable to the other dentists instantly.</p>
            <p><a href="{{SITE_URL}}docs/DentalCareLinks_introduction.pdf" target="_blank">Download PDF Instruction Manual</a></p>
            <p><a href="mailto:info@dentalcarelinks.com" target="_blank">Can't find an answer? Need Help? E-mail us</a></p>
        </div>

    </div>



</div>
