<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Invite guest</h4>
</div>
<div class="modal-body">
    <div class="block-title">
        <p>
            Since this referral was sent by a guest user, he/she doesn't have access to this patient chart.
            Would you like to invite them to have access to this chart?
        </p>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="invite()" class="btn btn-success">Invite</button>
    <button ng-click="skip()" class="btn btn-warning">Skip</button>
</div>