<form id="formJoinPractice" name="joinPracticeForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Join existing practice</h4>
    </div>
    <div class="modal-body">

        <div class="block-title">
            <h5>Practice Information</h5>
        </div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" >{{alert.message}}</alert>
        <div class="input-block" ng-class="{'has-error': joinPracticeForm.practice.$dirty && joinPracticeForm.practice.$invalid }">
            <input type="text" id="practice" name="practice" placeholder="Select practice &hellip;" class="form-control"
                   ng-model="practice"
                   typeahead-editable="false"
                   uib-typeahead="practice as practice.name for practice in findPractice($viewValue)"
                   autocomplete="off"
                   required>
        </div>

        <div class="input-block" ng-class="{ 'has-error': joinPracticeForm.securitycode.$dirty && joinPracticeForm.securitycode.$invalid }">
            <input type="text" name="securitycode" class="form-control" ng-model="securitycode" placeholder="Security Code &hellip;" required>
        </div>

        <p>Please contact practice manager {{ practice.owner.email }} to obtain a security code and return using the link from your email to register and join this practice.</p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-orange" ng-disabled="joinPracticeForm.$invalid" ng-click="ok(practice, securitycode)">Join</button>
        <button type="button" class="btn btn-grey" data-dismiss="modal" ng-click="cancel()">Discard</button>
    </div>
</form>