<form name="form" novalidate class="simple-form signin-form">
    <div class="row" ng-if="pid && !loginMode">
        <div class="row">
            <div class="col-md-12 text-block login-message">
                If you have an existing account, please login to send your referral.<br/>
                If you do not have an account you may send a referral by continuing as a guest.
            </div>
        </div>

        <div class="col-xs-10 col-md-4 center-block login-choice">
            <a class="btn btn-orange btn-lg" ui-sref="createGuestReferral({pid: pid})">Continue as guest</a>
            OR
            <a class="btn btn-green btn-lg" href="" ng-click="turnOnLoginMode()">Login</a>
        </div>
    </div>

    <div ng-if="!pid || loginMode">
        <div class="row">
            <div class="col-xs-10 col-md-4 center-block">
                <div class="form-group" ng-class="{'has-error': form.email.$invalid && form.email.$dirty}">
                    <label>E-Mail:</label>
                    <input type="email" name="email" id="email" ng-model="user.email" ng-required="true" class="form-control login"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-md-4 center-block">
                <div class="form-group" ng-class="{'has-error': form.password.$invalid && form.password.$dirty}">
                    <label>Password:</label>
                    <input type="password" name="password" id="password" focus-password ng-model="user.password" ng-required="true" class="form-control login"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-md-4 center-block">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <button ng-click="login(user)" ng-disabled="form.$invalid">Login</button>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <p class="text-right">
                            <a href="#/reset_password">Forgot password?</a>
                        </p>

                        <p class="text-right">
                            <a ng-href="#/register/promo/getstarted">Register</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
