<!-- Modal Deduping Patient -->
<form id="formDedupingPatient" name="dedupingPatientForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">We found a matching patient record.</h4>
    </div>
    <div class="modal-body">
        <label>Please choose what you want to do:</label>
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" ng-value="false" ng-model="useExistingPatient">
                <span ng-if="isCreatingPatient">Create new patient</span>
                <span ng-if="!isCreatingPatient">Update patient</span>
            </label>
            <label class="radio-inline">
                <input type="radio" ng-value="true" ng-model="useExistingPatient">
                Use existing patient
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"  class="btn btn-orange" ng-disabled="dedupingPatientForm.$invalid"  ng-click="ok(patient)">Ok</button>
        <button type="button" class="btn btn-grey" data-dismiss="modal" ng-click="cancel()">Discard</button>
    </div>
</form>
<!-- End Modal Deduping Patient -->
