<!-- Modal Patient -->

            <form id="formNewPatient" name="patientForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="block-title">
                        <h5>Patient Information</h5>
                    </div>
                    <!--<div ng-show="patientForm.$invalid" class="alert alert-danger">
                        <strong>Oops!</strong> Please fix the highlighted errors below.
                    </div>-->
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</alert>

                    <div class="input-block" ng-class="{ 'has-error': patientForm.firstName.$dirty && patientForm.firstName.$invalid }">
                        <input type="text" name="firstName" class="form-control" ng-model="patient.first_name" placeholder="Enter first name &hellip;" ng-required="true">
                    </div>
                    <div class="input-block"  ng-class="{ 'has-error': patientForm.lastName.$dirty && patientForm.lastName.$invalid }" >
                        <input type="text" name="lastName" class="form-control" ng-model="patient.last_name" placeholder="Enter last name &hellip;" ng-required="true">
                    </div>
                    <div class="input-block"  ng-class="{ 'has-error': patientForm.email.$dirty && patientForm.email.$invalid }" >
                        <input type="email" name="email" class="form-control" ng-model="patient.email" placeholder="Enter email &hellip;">
                    </div>
                    <div class="input-block"  ng-class="{ 'has-error': patientForm.phone.$dirty && patientForm.phone.$invalid }" >
                        <input type="tel" name="phone" class="form-control" ng-model="patient.phone" phone-formatter>
                    </div>
                    <div class="input-block datepicker" ng-class="{ 'has-error': patientForm.birthday.$dirty && patientForm.birthday.$invalid }">
                        <p class="input-group">
                            <input type="text" class="form-control" name="birthday" datepicker-popup="M/d/yyyy" placeholder="m/d/yyyy" ng-model="patient.birthday" is-open="datepickerStatus.opened"  ng-required="true" close-text="Close"/>
                            <span class="input-group-btn datepicker-btn">
                                <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-orange" ng-disabled="patientForm.$invalid"  ng-click="ok(patient)">Save</button>
                    <button type="button" class="btn btn-grey" data-dismiss="modal" ng-click="cancel()">Discard</button>
                </div>
            </form>
<!-- End Modal Patient -->
