    <div class="row">
        <div class="input-block col-sm-10" ng-class="{ 'has-error': (submitted || form.name.$dirty) && form.name.$invalid }">
            <input type="text" name="name" class="form-control" ng-model="practice.name" placeholder="Practice name &hellip;" ng-required="true">
        </div>

        <div class="input-block col-xs-2">
            <label>Multi specialty: </label>
            <input type="checkbox" name="multi_specialty" ng-model="practice.multi_specialty">
        </div>
    </div>

    <div class="row">
        <div class="input-block col-sm-12" ng-class="{ 'has-error': (submitted || form.address.$dirty) && form.address.$invalid }">
            <input type="text" name="address" class="form-control" ng-model="practice.addresses_attributes[0].street_line_1" placeholder="Address &hellip;" ng-required="true">
        </div>
    </div>

    <div class="row">
        <div class="input-block col-sm-6" ng-class="{ 'has-error': (submitted || form.city.$dirty) && form.city.$invalid }">
            <input type="text" name="city" class="form-control" ng-model="practice.addresses_attributes[0].city" placeholder="City &hellip;" ng-required="true">
        </div>

        <div class="input-block col-xs-3" ng-class="{ 'has-error': (submitted || form.state.$dirty) && form.state.$invalid }">
            <select name="state" class="form-control" ng-model="practice.addresses_attributes[0].state" placeholder="State &hellip;" ng-required="true">
                <option disabled="disabled" class="placeholder" value="">Select state &hellip;</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
        </div>

        <div class="input-block col-xs-3" ng-class="{ 'has-error': (submitted || form.zip.$dirty) && form.zip.$invalid }">
            <input type="text" name="zip" class="form-control" ng-model="practice.addresses_attributes[0].zip" placeholder="Zip code &hellip;" ng-required="true" ng-pattern="/^\d+$/">
        </div>
    </div>

    <div class="row">
        <div class="input-block col-sm-6" ng-class="{ 'has-error': (submitted || form.phone.$dirty) && form.phone.$invalid }">
            <input type="text" name="phone" class="form-control" ng-model="practice.addresses_attributes[0].phone" phone-formatter ng-required="true">
        </div>

        <div class="input-block col-sm-6" ng-class="{ 'has-error': (submitted || form.website.$dirty) && form.website.$invalid }">
            <input type="text" name="website" class="form-control" ng-model="practice.addresses_attributes[0].website" placeholder="Website &hellip;">
        </div>
    </div>
