<form id="formPracticeDelete" name="practiceDeleteForm" class="input-block ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Delete Practice Record</h4>
    </div>
    <div class="modal-body">

        <alert type="danger">Attention! Delete practice cannot be undone</alert>

        <div class="form-group">
            <label>Delete practice Name</label>
            <input type="text" name="name" class="form-control data1" ng-model="practice.name" placeholder="Practice name &hellip;">
        </div>

        <alert>{{referrals_count}} referral{{referrals_count > 1 ? 's are' : ' is'}} attached to practice that is being deleted.</alert>

        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="deleteType" value="delete_practice" ng-model="delete_type">
                Delete referrals
            </label>
            <label class="radio-inline">
                <input type="radio" name="deleteType" value="move_referrals" ng-model="delete_type">
                Move referrals to:
            </label>
        </div>

        <div class="form-group" ng-show="delete_type == 'move_referrals'"
             ng-class="{'has-error': practiceDeleteForm.destPractice.$invalid}">
            <label>Dest practice name</label>
            <input type="text" class="form-control" name="destPractice" placeholder="Enter existing practice..."
                   ng-model-options="{ debounce: 400 }" ng-model="practiceSearch"
                   typeahead-loading="loadingPractices" typeahead-no-results="noResults"
                   typeahead-editable="false" typeahead-on-select="onPracticeSelected($item, $model, $label)"
                   typeahead="practice as practice.name for practice in findPractice($viewValue)"
                   ng-required="delete_type == 'move_referrals'">
        </div>

        <div class="form-group" ng-show="dest_practice.users && delete_type == 'move_referrals'"
             ng-class="{'has-error': practiceDeleteForm.destUser.$invalid}">
            <label>Dest user</label>
            <select name="destUser" class="form-control select" ng-model="dest_user"
                    ng-options="u as u.first_name + ' ' + u.last_name for u in dest_practice.users"
                    ng-required="delete_type == 'move_referrals'">
                <option class="placeholder" value="">Choose a user &hellip;</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-orange" ng-disabled="practiceDeleteForm.$invalid" ng-click="deletePractice()">Delete</button>
        <button type="button" class="btn btn-grey" data-dismiss="modal" ng-click="cancel()">Discard</button>
    </div>
</form>