<header class="page-header">
    <h1>Registration</h1>

    <p class="page-subheader">Submit your registration details.</p>
</header><!-- .page-header -->

<div class="form-wrapper">
    <form name="form" novalidate class="simple-form">
        <div class="box-white box-padded">
            <div class="row">
                <div class="col-md-12 text-block">
                    <div class="alert alert-warning">
                        <p>Welcome to Dental Links!</p>
                        <p>Please complete the registration form below and your account will be ready to start sending HIPAA compliant referrals for free!</p>
                        <p ng-show="invitation.referrals_count">You have {{invitation.referrals_count}} pending referrals</p>
                    </div>
                </div>
            </div>

                        <div class="row text-block">
                            <h3>Access details</h3>
                        </div>

                        <alert type="danger" ng-show="submitted && form.password.$invalid">Password is required and should have at least 8 characters</alert>

                        <div class="row">
                            <div class="input-block col-md-6" ng-class="{'has-error': (submitted && form.email.$invalid) || form.email.$invalid }">
                                <input type="email" name="email" class="form-control" ng-model="invitation.email" placeholder="Enter email &hellip;" ng-change="checkEmail(invitation.email)" ng-required="true">
                                <label>Email</label>
                            </div>

                            <div class="input-block col-md-3" ng-class="{'has-error': submitted && form.password.$invalid }">
                                <input type="password" name="password" class="form-control" ng-model="invitation.password" placeholder="Enter password &hellip;" ng-minlength="8" ng-required="true">
                                <label>Password</label>
                            </div>

                            <div class="input-block col-md-3" ng-class="{'has-error': submitted && (form.confirmation.$invalid || invitation.password_confirmation !== invitation.password) }">
                                <input type="password" name="confirmation" class="form-control" ng-model="invitation.password_confirmation" placeholder="Enter password confirmation &hellip;"
                                       ng-minlength="8" ng-required="true">
                                <label>Password confirmation</label>
                            </div>
                        </div>

                        <div class="row text-block">
                            <h3>Personal Information</h3>
                        </div>

                        <div class="row">
                            <div class="input-block col-xs-3">
                                <select id="selectSalutation" name="salutation" ng-model="invitation.title" class="form-control">
                                    <option selected="selected" disabled="disabled" class="placeholder" value="">Select salutation</option>
                                    <option value="Mr.">Mr.</option>
                                    <option value="Ms.">Ms.</option>
                                    <option value="Mrs.">Mrs.</option>
                                    <option value="Dr.">Dr.</option>
                                </select>
                                <label for="selectSalutation">Salutation</label>
                            </div>

                            <div class="input-block col-sm-3" ng-class="{'has-error': submitted && form.first_name.$invalid }">
                                <input type="text" name="first_name" class="form-control" ng-model="invitation.first_name" placeholder="Enter first name &hellip;" ng-required="true">
                                <label>First Name</label>
                            </div>

                            <div class="input-block col-xs-3">
                                <input type="text" name="middle_initial" class="form-control" ng-model="invitation.middle_initial" maxlength="1" placeholder="Enter middle initial &hellip;">
                                <label>Middle Initial</label>
                            </div>

                            <div class="input-block col-sm-3" ng-class="{'has-error': submitted && form.last_name.$invalid }">
                                <input type="text" name="last_name" class="form-control" ng-model="invitation.last_name" placeholder="Enter last name &hellip;" ng-required="true">
                                <label>Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-block" ng-class="{'has-error': submitted && form.selectRole.$invalid }">
                                <label class="radio-inline"><input name="selectRole" type="radio" value="2" ng-value="2" ng-model="invitation.roles_mask" ng-required="true">Doctor</label>
                                <label class="radio-inline"><input name='selectRole' type="radio" value="4" ng-value="4" ng-model="invitation.roles_mask" ng-required="true">Auxiliary</label>
                                <label>Role</label>
                            </div>
                        </div>


                        <div ng-hide="promo">
                            <alert type="danger" ng-show="submitted && (!isNewPractice && !isJoinPractice)">Please join existing practice or create a new one.</alert>
                            <div class="button-block">
                                <button class="btn btn-green btn-lg" ng-click="joinPracticeDialog()" ng-show="showPracticeButtons">Join Existing Practice</button>
                                <button class="btn btn-green btn-lg" ng-click="practiceDialog()" ng-show="showPracticeButtons">New Practice</button>
                            </div>

                            <p ng-show="!showPracticeButtons && invitation.practice">You selected practice - <b>{{ invitation.practice.name }}</b></p>
                        </div>

                        <div ng-if="promo">
                            <div class="row text-block">
                                <h3>Practice</h3>
                            </div>

                            <div ng-include="'partials/practice_form_fields.html'">
                            </div>
                        </div>

                        <div class="row text-block">
                            <h3>Terms</h3>
                        </div>

                        <alert type="danger" ng-show="submitted && form.tnc.$invalid">Please accept EULA.</alert>
                        <div class="row">
                            <div class="input-block col-md-12">
                                <input type="checkbox" name="tnc" class="form-control" ng-model="invitation.tnc" ng-required="true" style="height:20px; display: inline; width: 20px;">
                                <span style="margin: 10px">Agree to EULA: <a href="/#/license" target="_blank">terms & conditions</a></span>
                            </div>
                        </div>
                        <div class="button-block" style="padding-top: 20px;">
                            <button class="btn btn-green btn-lg" ng-click="register(invitation)" ng-hide="promo">Register</button>
                            <button class="btn btn-green btn-lg" ng-click="createPracticeAndRegister(practice, invitation)" ng-show="promo" ng-disabled="form.$invalid || invitation.password_confirmation !== invitation.password || isResend">Register</button>
                            <button class="btn btn-green btn-lg" ng-click="discard()">Discard</button>
                        </div>
        </div>
    </form>


</div>