
<div class="modal-header">
    <h4 class="modal-title" id="subscriptionChangedTitle">Subscription changes</h4>
</div>
<div class="modal-body">
    <div class="block-title">
        <h5>Your subscription will be changed</h5>
    </div>
    <p>Premium account is ${{ basePrice | money}} per {{subscriptionInterval}} per practice location.
        For your practice with {{locationsNumber}} location(s), your payment will be ${{ basePrice * locationsNumber | money}} per {{subscriptionInterval}}
    </p>

    <p>Your subscription will be prorated automatically. Thank you for using DentalCareLinks!</p>
</div>
<div class="modal-footer">
    <button id="subscription_ok_btn" type="button" class="btn btn-orange" ng-click="ok()">OK</button>
    <button type="button" class="btn btn-grey" ng-click="cancel()" data-dismiss="modal">Cancel</button>
</div>

