<form id="formUpgrade" name="upgradeForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" ng-hide="stripe_subscription_id">Upgrade to Premium Account</h4>
        <h4 class="modal-title" ng-show="stripe_subscription_id">Edit Payment Information</h4>
    </div>
    <fieldset ng-disabled="disableForm">
    <div class="modal-body">
        <div class="block-title">
            <h5>Payment Information</h5>
        </div>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</uib-alert>
        <div class="input-block" ng-class="{ 'has-error': upgradeForm.name_on_card.$dirty && upgradeForm.name_on_card.$invalid }">
            <input type="text" name="name_on_card" class="form-control" ng-model="payment_info.name_on_card" placeholder="Enter name on card &hellip;" ng-required="true">
        </div>
        <div class="input-block"  ng-class="{ 'has-error': upgradeForm.card_number.$dirty && upgradeForm.card_number.$invalid }" >
            <input type="text" name="card_number" class="form-control" ng-model="payment_info.card_number" placeholder="Enter card number &hellip;" cc-number cc-format cc-eager-type cc-type="cardType" ng-required="true">
        </div>
        <div class="input-block" ng-class="{ 'has-error': upgradeForm.card_cvc.$dirty && upgradeForm.card_cvc.$invalid }">
            <input type="text" class="form-control" name="card_cvc" ng-model="payment_info.card_cvc" placeholder="Enter card cvc &hellip;" cc-cvc ng-required="true">
        </div>
        <div class="input-block"  ng-class="{ 'has-error': upgradeForm.card_exp_month.$dirty && upgradeForm.card_exp_month.$invalid }" >
            <select id="selectExpMM" ng-model="payment_info.card_exp_month" class="form-control" ng-required="true">
                <option selected="selected" disabled="disabled" class="placeholder" value="">Select month</option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            
        </div>

        <div class="input-block"  ng-class="{ 'has-error': upgradeForm.card_exp_year.$dirty && upgradeForm.card_exp_year.$invalid }" >
            
            <select id="selectExpYYYY" ng-model="payment_info.card_exp_year" class="form-control" ng-required="true">
                <option disabled="disabled" selected="selected" class="placeholder" value="">Select year</option>
                <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
            </select>
        </div>
    </div>
    </fieldset>

    <div class="modal-footer">
        <button id="upgradeSubscriptionBtn" ng-hide="stripe_subscription_id" type="submit" class="btn btn-orange" ng-click="ok(payment_info)" ng-disabled="upgradeForm.$invalid">Upgrade</button>
        <button id="changePaymentInfo" ng-show="stripe_subscription_id" type="submit" class="btn btn-orange" ng-click="ok(payment_info)" ng-disabled="upgradeForm.$invalid">Save</button>
        <button type="button" class="btn btn-grey" ng-click="cancel()" data-dismiss="modal">Discard</button>
    </div>
</form>
