<form id="formNewuser" name="userForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add User</h4>
    </div>
    <div class="modal-body">

        <div class="alert alert-warning">
            Use this to add doctors and auxiliary from your practice to share this Dental Links account.
        </div>


        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message | i18n}}</alert>
        <div class="block-title">
            <h5>User Information</h5>
        </div>
        <div class="input-block" ng-class="{ 'has-error': userForm.firstName.$dirty && userForm.firstName.$invalid }">
            <input type="text" name="firstName" class="form-control" ng-model="user.first_name" placeholder="Enter first name &hellip;" ng-required="true">
        </div>
        <div class="input-block"  ng-class="{ 'has-error': userForm.lastName.$dirty && userForm.lastName.$invalid }" >
            <input type="text" name="lastName" class="form-control" ng-model="user.last_name" placeholder="Enter last name &hellip;" ng-required="true">
        </div>
        <label>Register with:</label>
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" ng-value="true" ng-model="isInvite" ng-change="toggleRadio(user)">
                Invite
            </label>
            <label class="radio-inline">
                <input type="radio" ng-value="false" ng-model="isInvite" ng-change="toggleRadio(user)">
                No Login
            </label>
        </div>
        <div class="input-block" ng-class="{ 'has-error': userForm.email.$dirty && userForm.email.$invalid }" ng-show="isInvite">
            <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="Enter user's email address &hellip;" ng-required="isInvite">
        </div>
        <label>Select user roles:</label>
        <div class="input-block">
            <div isteven-multi-select
                    input-model = "listInputRoles"
                    output-model = "listOutputRoles"
                    button-label = "name"
                    item-label = "name"
                    tick-property = "ticked"
                    disable-property = "isDisabled"
                    on-item-click = "onRoleSelect(data)"
                    helper-elements = ""
                    >
            </div>
            <input type="text" ng-model="listOutputRoles" name="rolesValidate" style="display:none" required />
        </div>
    </div>
    <div class="modal-footer">
        <button ng-show="isInvite" type="submit" class="btn btn-orange" ng-click="ok(user)" ng-disabled="userForm.$invalid || (user.password != user.passwordConfirm)">Send</button>
        <button ng-show="!isInvite" type="submit" class="btn btn-orange" ng-click="ok(user)" ng-disabled="userForm.$invalid || (user.password != user.passwordConfirm)">Save</button>
        <button type="button" class="btn btn-grey" ng-click="cancel()" data-dismiss="modal">Discard</button>
    </div>
</form>
