<div class="row" ng-if="isVerified">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Verification</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Your referral is confirmed and has just been sent out to specified doctor!
                        </p>
                        <p>
                            Thank you for using Dental Care Links!
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <button ui-sref="signIn" class="btn btn-success pull-right">Ok</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>