@charset "utf-8";
/* Global */
body {
	background-color: #f3f3f3;
	color: #34495e;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	padding-top: 60px;
}
::-webkit-input-placeholder {
   color: #34495e !important;
   font-family: "Lato", sans-serif !important;
   font-style: italic;
   font-weight: 300;
}
:-moz-placeholder {
   color: #34495e !important;
   font-family: "Lato", sans-serif !important;
   font-style: italic;
   font-weight: 300;  
}
::-moz-placeholder {
   color: #34495e !important;
   font-family: "Lato", sans-serif !important;
   font-style: italic;
   font-weight: 300;  
}
:-ms-input-placeholder {  
   color: #34495e !important;
   font-family: "Lato", sans-serif !important;
   font-style: italic;
   font-weight: 300;  
}
.placeholder {  
   color: #34495e !important;
   font-family: "Lato", sans-serif !important;
   font-style: italic;
   font-weight: 300; 
}
option:disabled {  
   color: #34495e !important;
   font-family: "Lato", sans-serif !important;
   font-style: italic;
   font-weight: 300; 
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Lato", sans-serif;
	margin: 0;
}
h1 {
	font-size: 28px;
	font-size: 2.8rem;
	font-weight: 300;
}
h3 {
	color: #34495e;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: normal;
	margin: 0 0 10px;
	text-transform: uppercase;
}
a, a:hover, a:active, a:focus, a.active {
	outline: none;
	text-decoration: none;
}
a {
	color: #e67e22;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
a:hover {
	color: #d35400;
	text-decoration: none;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.avatar {
	border-radius: 20px;
	height: 40px;
	margin-left: 10px;
	width: 40px;
    font-size: 250%;
    vertical-align: middle;
}
#reportrange {
	background-color: #f3f3f3;
	border: 1px solid #eee;
	color: #333;
	cursor: pointer;
	padding: 9px 10px;
	text-transform: uppercase;
}
.form-control {
	background-color: #fafafa;
	border: 1px solid #f3f3f3;
	border-radius: 5px;
	box-shadow: none;
		-webkit-box-shadow: none;
	color: #34495e;
	font-size: 12px;
	font-size: 1.2rem;
	height: 33px;
	padding: 7px 12px;
}
#formSearchHistory {
	position: relative;
}
#formSearchHistory:after {
	color: #333;
	position: absolute;
	right: 15px;
	top: 13px;

	content: "\e608";
	font-family: "dlicons";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.has-error .form-control {
	box-shadow: none;
		-webkit-box-shadow: none;
}

.has-error .form-control {
	border: 1px solid #a94442 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.form-control.login {
	border: 1px solid #dddddd;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	height: 30px;
	padding: 0 15px;
}

.cancelBtn{
    background-color: buttonface;
}

textarea.form-control {
	resize: vertical;
}
.hide, .show {
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.label {
	border-radius: 10px;
	display: block;
	font-weight: 900;
	padding: 4px 10px 5px;
	text-align: center;
	text-transform: uppercase;
}
.link-green {
	color: #5cb85c;
}
.link-green:hover {
	color: #47a447;
	text-decoration: underline;
}
.link-orange {
	color: #e67e22;
}
.link-orange:hover {
	color: #d35400;
	text-decoration: underline;
}
.tooltip {
	font-size: 10px;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}
.tooltip-inner {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	padding: 8px 12px;
}
.update-ie {
	background-color: #b73137;
	color: #fff;
	display: none;
	font-size: 12px;
	font-size: 1.2rem;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
}
.lt-ie9 .update-ie {
	display: block;
}
.lt-ie9 body {
	padding-top: 140px;
}
.lt-ie9 .navbar-fixed-top {
	top: 40px;
}

.space-nowrap{
    white-space: nowrap;
}

.global-notification-bar{
	position: absolute;
	display: table-cell;
	padding: 5px 10px;
}

.global-notification-bar .container a{
	color: mediumblue;
	text-decoration: underline;
}


.radio-inline{
	display: inline-block!important;
	font-size: inherit!important;
	text-transform: none!important;

}

.radio-inline input, .checkbox-inline input{
	margin-left: 0 !important;

}
/* Buttons */
.btn {
	border: none;
	border-radius: 5px;
	color: #fff       !important;
	font-size: 12px   !important;
	font-size: 1.2rem !important;
	font-weight: 700;
	padding: 8px 10px !important;
	text-transform: uppercase;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}


.btn:hover {
	color: #fff;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}

.datepicker .btn{
    color: rgb(51, 51, 51) !important;
    border: 1px solid #ccc !important;
}

.datepicker .btn:hover{
    color: #333 !important
}

.btn:active, .btn.active, .btn:focus {
	box-shadow: none;
		-webkit-box-shadow: none;
	color: #fff;
	outline: none;
}
.btn-green {
	background-color: #5cb85c;
}
.btn-green:hover {
	background-color: #47a447;
}
.btn-grey {
	background-color: #bdc3c7;
}
.btn-grey:hover {
	background-color: #7f8c8d;
}
.btn-lg {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 10px 0;
}
.btn-orange {
	background-color: #e98b39 !important;
}
.btn-orange:hover {
	background-color: #d35400;
}

/* Header */
.navbar {
	background-color: #34495e;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
}
.navbar-fixed-top {
	border-width: 0;
	z-index: 1050;
}
.navbar .navbar-brand {
	color: #fff;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	height: auto;
	padding: 20px 10px;
}
.navbar .navbar-brand > strong {
	font-weight: 900;
}
.navbar-nav {
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 65%;
}
.navbar-nav > li > a {
	color: #fff;
	float: right;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: right;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #2c3e50;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #2c3e50;
	border: none;
}
.navbar-nav > li > .dropdown-menu {
	width: 100%;
}
.navbar-nav .open .dropdown-menu {
	background-color: #fff;
	border-radius: 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.17);
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.17);
	position: absolute;
	top: 60px;
	width: 100%;
}
.dropdown-menu > li > a {
	font-size: 12px;
	font-size: 1.2rem;
	padding: 10px 20px;
}
.dropdown-menu > li > a:hover {
	background-color: #e98b39;
	color: #fff;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

/* Content */
.page-header {
	border-bottom: none;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}
.page-subheader {
	color: #34495e;
	font-size: 14px;
	font-size: 1.4rem;;
	font-weight: 300;
}
.box-white {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.box-padded {
    padding: 10px;
}
.box-white + .button-block {
	padding: 10px 0;
	text-align: center;
}
.box-white + .button-block .btn {
	display: block;
	padding: 10px 0;
	width: 100%;
}
.block-title {
	margin-bottom: 5px;
	position: relative;
}
.block-title .btn-toggle {
	border-radius: 0 5px 5px 0;
	position: absolute;
	right: 0;
	top: 0;
}

.block-title .btn-toggle-shifted {
	border-radius: 0;
	position: absolute;
	right: 45px;
	top: 0;
}

.block-title h2 {
	background-color: #34495e;
	border-radius: 5px;
	color: #fff;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 10px 12px;
	text-transform: uppercase;
}
.input-block {
	padding: 0 15px 10px;
}

.text-block {
	padding: 15px 15px 5px;
    font-size: 14px;
    font-weight: 700;
}

#sectPractice .input-block {
    padding-bottom: 5px;
}

.form-control.data1 {
	background-color: transparent;
	border: none;
	color: #34495e;
	font-size: 14px;
	font-size: 1.4rem;
}
.form-control.data2 {
	background-color: transparent;
	border: none;
	color: #34495e;
	font-size: 12px;
	font-size: 1.2rem;
	height: auto;
	padding: 0 12px;
}
.form-control.data1[disabled], .form-control.data2[disabled] {
	cursor: text;
}

.form-control.select.data1{
	/*removing arrow for disabled select*/
	-webkit-appearance: none;
	-moz-appearance: none;
}
 .form-control.select.data1::-ms-expand {
     /*removing arrow for disabled select in IE10+*/
     display: none;
}

.toothchart-wrapper {
	overflow-x: scroll;
}
#toothchart {
	background-color: #fff;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 0 0;
	width: 450px;
}
#toothchart ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 50%;
}
#toothchart ul > li.tooth-button {
	float: left;
}
#toothchart .upper-chart ul, #toothchart .lower-chart ul {
	padding: 10px 0;
}
#toothchart .horizontal-chart-line ul {
	border-bottom: 1px solid #aaa;
}
#toothchart .upper-chart ul:last-child {
	border-left: 1px solid #aaa;
}
#toothchart .lower-chart ul,
#toothchart .upper-chart ul:first-child > li.tooth-button,
#toothchart .lower-chart ul:last-child > li.tooth-button {
	float: right;
}
#toothchart .lower-chart ul:first-child {
	border-left: 1px solid #aaa;
}
.tooth-button {
	height: 25px;
	position: relative;
	width: 25px;
}
.upper-chart .tooth-button {
	margin-left: 2px;
}
.lower-chart .tooth-button {
	margin-right: 2px;
}
.upper-chart ul:last-child > li.tooth-button:first-child {
	margin-left: 0;
}
.lower-chart ul:last-child > li.tooth-button:first-child {
	margin-right: 0;
}
.tooth-button label {
	background-color: #fcfcfc;
	border: 1px solid #aaa;
	color: #34495e;
	display: block;
	font-size: 10px;
	font-size: 1rem;
	font-weight: 700;
	height: 100%;
	margin: 0;
	padding: 3px 0;
	position: relative;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
	width: 100%;
}
.tooth-button:hover label {
	background-color: #fff;
	border: 1px solid #e67e22;
	color: #e67e22;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.upper-chart .tooth-button label {
	border-radius: 0 0 10px 10px;
}
.lower-chart .tooth-button label {
	border-radius: 10px 10px 0 0;
}
.tooth-button input[type="checkbox"] {
	bottom: 0;
	cursor: pointer;
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0;
		filter: alpha(opacity=0);
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}
.tooth-button input[type="checkbox"]:checked + label {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
}
.tooth-button input[disabled] {
	background-color: #fcfcfc;
	border: 1px solid #f3f3f3;
	color: #aaa;
	cursor: not-allowed;
}
.tooth-button input[disabled] + label, .tooth-button input[disabled]:hover + label {
	background-color: #fcfcfc;
	border: 1px solid #aaa;
	color: #555;
}
.tooth-button input[type="checkbox"][disabled] + label, .tooth-button input[type="checkbox"][disabled]:hover + label {
    color: rgb(170, 170, 170);
    border: 1px solid rgb(243, 243, 243);
    background-color: rgb(252, 252, 252);
}
.tooth-button input[type="checkbox"][disabled]:checked + label {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}
.attachments-wrapper {
	position: relative;
}
.attachments-wrapper .drag-drop-area {
	background-color: rgba(255, 255, 255, 0.8);
	border: 3px dashed #e67e22;
	display: none; /* must be calculated with JS */
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 100;
}
.attachments-wrapper div.drag-drop-area:after {
	color: #e67e22;
	content: "Drag \0020\0026\0020 drop your files to attach";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	font-weight: 700;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	top: 33.33%; /* depends on number of rows, must be calculated with JS */
}
.attachments-wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0 10px 0;
}
.attachment-block {
	display: block;
	height: 40px;
	margin-right: 10px;
	margin-top: 10px;
	opacity: 0.8;
		filter: alpha(opacity=80);
	overflow: hidden;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
	vertical-align: middle;
	width: 100%;
}
.attachment-block:hover {
	opacity: 1;
		filter: alpha(opacity=100);
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.attachment-block > a {
    display: block;
}
.attachment-thumb {
	float: left;
    background-color: #ffffff;
	height: 40px;
	width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
.attachment-thumb > img {
	max-width: 100%;
    max-height: 100%;
}
.attachment-thumb.attach-word, .attachment-thumb.attach-excel, .attachment-thumb.attach-pdf, .attachment-thumb.attach-file {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.attachment-thumb.attach-word {
	background-image: url(../../img/attachments/bg-word.jpg);
}
.attachment-thumb.attach-excel {
	background-image: url(../../img/attachments/bg-excel.jpg);
}
.attachment-thumb.attach-pdf {
	background-image: url(../../img/attachments/bg-pdf.jpg);
}
.attachment-thumb.attach-file {
	background-image: url(../../img/attachments/bg-file.jpg);
}
.attachment-details {
	background-color: #fcfcfc;
	border: 1px solid #f3f3f3;
	height: 140px;
	margin-left: 40px;
	padding: 3px 10px;
}
.attachment-details span {
	display: block;
}

.attachment-details span span{
	font-weight: normal;
	text-transform: none;
}

.attachment-details span.inline{
    display: inline;
}
.attachment-details .filename {
	color: #333;
	/*font-size: 14px;*/
	/*font-size: 1.4rem;*/
	/*font-weight: 700;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.attachment-details .datestamp {
    color: #333;
	/*font-size: 12px;*/
	/*font-size: 1.2rem;*/
	font-weight: 600;
	text-transform: uppercase;
}
.notes-wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.note-block {
	border-bottom: 1px solid #aaa;
	opacity: 0.8;
		filter: alpha(opacity=80);
	padding: 3px 12px;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.note-block.expand {
	padding: 8px 12px;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.note-block:hover {
	opacity: 1;
		filter: alpha(opacity=100);
}
.note-block > span {
	display: block;
}

.read-only{
	background-color: #ecf0f1;
}
.changes{
	display: inline-block;
}

.changes > span{
	display: block;
}
.note-block .note-content {
	color: #34495e;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 500;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.note-block.expand .note-content {
	height: auto;
	overflow: visible;
	text-overflow: none;
	white-space: normal;
}
.note-block .datestamp {
	/*color: #bdc3c7;*/
	font-size: 10px;
	font-size: 1rem;
	font-weight: 500;
	text-align: right;
	text-transform: uppercase;
}
.note-block .note-expand{
	text-align: right;
}
.note-block .note-expand:hover{
	text-decoration: underline;
	cursor: pointer;
}
.filter-controls-block {
	padding: 10px 25px;
	position: relative;
}
.filter-controls-block:after, .filter-controls-block:before {
	content: " ";
	display: table;
}
.filter-controls-block:after {
	clear: both;
}
.filter-controls-block .date-range-picker, .filter-controls-block .input-block {
	padding: 0 0 3px;
}
.filter-controls-block .results-block {
	background-color: #ecf0f1;
	border-radius: 5px;
	color: #34495e;
	float: left;
	font-size: 12px;
	font-size: 1.2rem;
	left: auto;
	margin-left: 0;
	padding: 10px;
	position: static;
	text-align: center;
	top: auto;
	width: 100%;
}
.results-block .count {
	font-weight: 700;
}
#reportrange span {
	font-weight: 700;
}
.table-wrapper {
	padding: 0 25px;
}
.table-container {
	overflow-x: scroll;
}
.table {
	width: 560px;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #fff;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
	background-color: #fafafa;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody >tr:hover > th {
	background-color: #ecf0f1;
}
.table thead tr th {
	background-color: #34495e;
	border-bottom: none;
	color: #fff;
	text-transform: uppercase;
}
.table thead tr th:first-child {
	border-radius: 5px 0 0 0;
}
.table thead tr th:last-child {
	border-radius: 0 5px 0 0;
}
.table thead tr th, .table tbody tr td {
	padding: 10px 20px;
	vertical-align: middle;
}
.table tbody tr:last-child {
	border-bottom: 1px solid #eee;
}
.table tbody tr td {
	border-top: 1px solid #eee;
}
.table tbody tr td:first-child {
	border-left: 1px solid #eee;
}
.table tbody tr td:last-child {
	border-right: 2px solid #eee;
}
td.cell-datetime > span, td.cell-from .practice, td.cell-to .practice {
	/*color: #bdc3c7;*/
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 500;
}
.table-hover > tbody > tr:hover > td.cell-datetime > span, .table-hover > tbody > tr:hover > td.cell-from .practice, .table-hover > tbody > tr:hover > td.cell-to .practice {
	color: #34495e;
}

td.cell-datetime > span {
	display: inline-block;
	text-transform: uppercase;
}
td.cell-datetime .ref-time {
	margin-left: 10px;
}
td.cell-from > span, td.cell-to > span {
	display: block;
}
td.cell-from .practice, td.cell-to .practice {
	color: #e98b39;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 300;
}
.responsive-tab-content {
	padding: 0 15px;
}

.nav-tabs.nav-justified > li{
    cursor: pointer;
}

.responsive-tab-content .nav-tabs > li > a {
	background-color: #ecf0f1;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-radius: 0;
	color: #bdc3c7;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 900;
	padding: 10px 15px;
	text-align: left;
	text-transform: uppercase;
}
.responsive-tab-content .nav-tabs > li:first-child > a {
	border-left: 1px solid transparent;
	border-radius: 5px 0 0 0;
}
.responsive-tab-content .nav-tabs > li:last-child > a {
	border-radius: 0 5px 0 0;
	border-right: 1px solid transparent;
}
.responsive-tab-content .nav-tabs > li > a  [class^="dlicons-"], .responsive-tab-content .nav-tabs > li > a > [class*=" dlicons-"] {
	color: #bdc3c7;
	font-size: 20px;
	font-size: 2rem;
	margin-right: 10px;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
	vertical-align: middle;
}
.responsive-tab-content .nav-tabs > li:hover > a, .responsive-tab-content .nav-tabs > li:hover > a  [class^="dlicons-"], .responsive-tab-content .nav-tabs > li:hover > a  [class*=" dlicons-"] {
	color: #34495e;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.responsive-tab-content .nav-tabs > li.active > a, .responsive-tab-content .nav-tabs > li.active:hover > a {
	background-color: #fff;
	border-color: transparent;
	border-left: 1px solid #ddd;
	color: #34495e;
}
.responsive-tab-content .nav-tabs > li.active:first-child > a, .responsive-tab-content .nav-tabs > li.active:first-child:hover > a {
	border-left: 1px solid transparent;
}
.responsive-tab-content .nav-tabs > li.active > a  [class^="dlicons-"], .responsive-tab-content .nav-tabs > li.active > a  [class*=" dlicons-"] {
	color: #34495e;
}
.responsive-tab-content .tab-content {
	padding: 10px;
}
.section-block {
	padding: 5px;
}
#sectPersonal.section-block, #sectPayment.section-block {
	padding: 10px 5px 10px;
}

#sectPayment select {
	display: inline-block;
	margin-left: 3.33%;
	width: 48%;
}
#sectPayment #selectExpMM {
	margin-left: 0;
}
.input-block label {
	color: #34495e;
	display: block;
	font-size: 9px;
	font-size: 0.9rem;
	font-weight: 400;
	margin: 0;
	padding: 3px 0px;
	text-transform: uppercase;
}
.responsive-tab-content .table-wrapper {
	padding: 0;
}
#sectUsers.section-block, #sectInvite.section-block {
	padding: 0;
}
.section-block .table thead tr th {
	background-color: #ecf0f1;
	color: #7f8c8d;
	font-size: 10px;
	font-size: 1rem;
}
.section-block .table-hover > tbody > tr:hover > td, .table-hover > tbody >tr:hover > th {
	background-color: #f3f6f7;
}
/*
.section-block .table tbody tr td {
	color: #bdc3c7;
}
*/
.section-block .table tbody tr td.cell-user, .section-block .table tbody tr td.cell-provider {
	color: #34495e;
}

.section-block .table td.cell-created{
    min-width: 50px;
}

.section-block .table tbody tr td.cell-created, .section-block .table tbody tr td.cell-invited {
	font-size: 10px;
	font-size: 1rem;
}
.section-block .table tbody tr td.cell-created > .create-date, .section-block .table tbody tr td.cell-invited {
	text-transform: uppercase;
}
.section-block .table tbody tr td.cell-created, .section-block .table tbody tr td.cell-action, .section-block .table tbody tr td.cell-status {
	position: relative;
}

.section-block .table .btn-delete, .input-block .btn-delete {
	cursor: pointer;
	font-size: 12px;
	font-size: 1.2rem;
	height: 20px;
	overflow: hidden;
	position: absolute;
	right: 50px;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
	width: 20px;
	top: 25%;
}

.section-block .table .btn-change-password {
	cursor: pointer;
	font-size: 12px;
	font-size: 1.2rem;
	height: 20px;
	overflow: hidden;
	position: absolute;
	right: 20px;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
	width: 20px;
	top: 25%;
}

.section-block .table .btn-delete:hover, .input-block .btn-delete:hover {
	color: #7f8c8d;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.section-block .table .btn-delete.active, .input-block .btn-delete.active {
	position: absolute;
	width: 182px;
	background-color: inherit;
	color: #7f8c8d;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.section-block .table .btn-delete [class^="dlicons-"], .section-block .table .btn-delete [class*=" dlicons-"], .input-block .btn-delete [class^="dlicons-"], .input-block .btn-delete [class*="dlicons-"] {
	font-size: 18px;
	font-size: 1.8rem;
	vertical-align: middle;
}

.section-block .table .btn-change-password [class^="dlicons-"], .section-block .table .btn-change-password [class*=" dlicons-"], .input-block .btn-change-password [class^="dlicons-"], .input-block .btn-change-password [class*="dlicons-"] {
	font-size: 18px;
	font-size: 1.8rem;
	vertical-align: middle;
}
.section-block td.cell-status {
	padding-right: 80px;
}
.section-block td.cell-created .btn-delete + .create-date, .section-block td.cell-status .btn-delete + .label {
	opacity: 1;
		filter: alpha(opacity=100);
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.section-block td.cell-created .btn-delete.active ~ .create-date, .section-block td.cell-status .btn-delete.active + .label {
	opacity: 0;
		filter: alpha(opacity=0);
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.panel {
	box-shadow: none;
		-webkit-box-shadow: none;
}
.panel-default {
	border: none;
}
.panel-group {
	margin-bottom: 0;
}
.panel-group .panel {
	border-radius: 0;
}
.panel-group .panel + .panel {
	margin-top: 0;
}
.panel-default > .panel-heading {
	background-color: transparent;
	border-color: transparent;
	border-radius: 0;
	padding: 0;
}
.panel-title {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 900;
	text-transform: uppercase;
}
.panel-title > a {
	background-color: #fff;
	border-bottom: 1px solid #ecf0f1;
	color: #34495e;
	display: block;
	padding: 10px 15px;
}
.panel-title > a.collapsed {
	background-color: #ecf0f1;
	border-bottom: 1px solid #ddd;
	color: #bdc3c7;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
	border-bottom: 1px solid #ddd;
	border-top-color: transparent;
}

/* Modal */
.modal {
	z-index: 1070;
}
.modal-backdrop {
	z-index: 1060;
}
.modal-content {
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal-header {
	background-color: #34495e;
	border-bottom: none;
	border-radius: 6px 6px 0 0;
	padding: 10px 12px;
}
.modal-title {
	color: #fff;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
}
.modal-header .close {
	color: #fff;
	font-size: 30px;
	font-size: 3rem;
	font-weight: 700;
	margin-top: -8px;
	opacity: 0.3;
		filter: alpha(opacity=30);
	text-shadow: none;
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.modal-header .close:hover {
	opacity: 0.5;
		filter: alpha(opacity=50);
	transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
}
.modal-body {
	padding: 12px;
}
.modal .block-title {
	margin-bottom: 10px;
}
.modal .block-title h5 {
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
}
.modal .input-block {
	margin-bottom: 10px;
	padding: 0;
}
.modal-footer {
	background-color: #ecf0f1;
	border-radius: 0 0 6px 6px;
	border-top: none;
	margin-top: 0;
	padding: 7px;
}
#modalNote textarea.form-control {
	min-height: 120px;
}
.modal .alert {
	padding: 8px 15px;
}

.my-drop-zone { border: dotted 3px lightgray; }
.ng-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }


/* RESPONSIVE CSS */
@media (max-width: 768px){
	.signin-form {
		padding-top: 20px;
	}
}
@media (min-width: 450px){
	.page-header{
		padding-top: 60px;
	}
}

/* Mobile devices (mobile, 540px and up) */
@media (min-width: 540px) {
	.page-header{
		padding-top: 50px;
	}

	.global-notification-bar{
		margin-top: 5px;
		padding: 5px 10px;

	}

	.toothchart-wrapper {
		overflow-x: hidden;
	}

    .modal-sm {
        width: 300px;
    }
}
/* Mobile devices (mobile, 620px and up) */
@media (min-width: 620px) {
	.page-header{
		padding-top: 50px;
	}

	.global-notification-bar{
		margin-top: 5px;
		padding: 5px 10px;

	}

	.table-container {
		overflow-x: hidden;
	}
	.table {
		width: 100%;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.global-notification-bar{
		margin-top: 7px;
		margin-left: 175px;
		max-width: 370px;
		min-width: 370px;
		padding: 5px 10px;
	}

	.navbar-nav {
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 65%;
	}
	.navbar-nav > li {
		float: none;
	}
	.navbar-nav > li > a {
		float: right;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: right;
	}
	.page-header {
		text-align: left;
	}
    .box-padded {
        padding: 20px;
    }
	.box-white + .button-block .btn {
		display: inline-block;
		padding: 12px 70px;
		width: auto;
	}
	.input-block {
		padding: 0 15px 20px;
	}

	.upper-chart li.tooth-button {
		margin-left: 10px;
	}
	.lower-chart li.tooth-button {
		margin-right: 10px;
	}

	#toothchart {
		width: 100%;
	}
	.tooth-button {
		height: 30px;
		width: 30px;
	}
	.tooth-button label {
		font-size: 14px;
		font-size: 1.4rem;
	}
	.attachment-block {
		display: inline-block;
		width: 200px;
	}
	li.attachment-block:nth-child(3n+0) {
		margin-right: 0;
	}
	.note-block > span {
		display: inline-block;
		vertical-align: top;
	}
	.note-block .note-content {
		width: 60%;
	}
	.note-block .note-user {
		margin-right: 2%;
		width: 15%;
	}
	.note-block .note-more {
		margin-left: 4%;
		cursor: pointer;
		width: 6%;
	}
	.note-block .note-more:hover {
		text-decoration: underline;
	}
	.note-block .datestamp {
		margin-left: 2%;
		width: 10.5%;
	}
	.filter-controls-block {
		padding: 20px 40px;
		position: relative;
	}
	.filter-controls-block .date-range-picker, .filter-controls-block .input-block {
		padding: 0;
	}
	.filter-controls-block .results-block {
		border-radius: 20px;
		left: 50%;
		margin-left: -100px;
		position: absolute;
		top: 20px;
		width: 200px;
	}
	.table-wrapper {
		padding: 0 40px;
	}
	.table {
		width: 100%;
	}
	.modal-header {
		padding: 19px 30px;
	}
	.modal-title {
		font-size: 16px;
		font-size: 1.6rem;
	}
	.modal-header .close {
	margin-top: -5px;
	}
	.modal-body {
		padding: 40px 30px;
	}
	.modal .block-title {
		margin-bottom: 20px;
	}
	.modal .block-title h5 {
		font-size: 14px;
		font-size: 1.4rem;
	}
	.responsive-tab-content .tab-content {
		padding: 15px;
}
	#sectPersonal.section-block, #sectPayment.section-block {
		padding: 15px 5px 0;
	}

	#sectPayment select {
		display: inline-block;
		margin-left: 20px;
		padding-left: 10px;
		padding-right: 10px;
		width: 310px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body {
		font-size: 14px;
		/*font-size: 1.4rem;*/
		padding-top: 115px;
	}
	h1 {
		font-size: 36px;
		font-size: 3.6rem;
	}

	.global-notification-bar{
		margin-top: 15px;
		margin-left: 250px;
		max-width: 470px;
		min-width: 470px;
	}

	.form-control {
		font-size: 14px;
		font-size: 1.4rem;
		height: 40px;
		padding: 9px 15px;
	}
	.update-ie {
		font-size: 14px;
		font-size: 1.4rem;
	}
	.btn {
		font-size: 14px    !important;
		font-size: 1.4rem  !important;
		padding: 10px 14px !important;
	}
	.btn-lg {
		font-size: 30px;
		font-size: 3rem;
		padding: 12px 70px;
	}
	.navbar-nav {
		left: auto;
		margin: 0;
		position: relative;
		right: auto;
		top: auto;
		width: auto;
	}
	.navbar-nav > li > a {
		float: none;
		padding-bottom: 30px;
		padding-top: 30px;
		text-align: left;
		width: auto;
	}
	.navbar .navbar-brand {
		font-size: 24px;
		font-size: 2.4rem;
		padding: 40px 20px;
	}
	.navbar-nav .open .dropdown-menu {
		border-radius: 0 0 5px 5px;
		top: 100%;
	}
	.dropdown-menu > li > a {
		font-size: 14px;
		font-size: 1.4rem;
	}
	.page-header {
		padding: 20px 0;
	}
	.page-subheader {
		font-size: 16px;
		font-size: 1.6rem;
	}
	.box-white + .button-block {
		padding: 40px 0;
	}
	.block-title h2 {
		font-size: 14px;
		font-size: 1.4rem;
		padding: 12px 20px 13px;
	}
	.input-block {
		padding: 0 20px 30px;
	}
	.form-control.data1 {
		font-size: 18px;
		font-size: 1.8rem;
	}
	.form-control.data2 {
		font-size: 14px;
		font-size: 1.4rem;
		height: auto;
		padding: 0 15px;
	}
	.toothchart-wrapper {
		margin-bottom: -15px;
	}
	#toothchart {
		padding: 20px 0 0;
		width: 720px;
	}
	#toothchart .upper-chart ul, #toothchart .lower-chart ul {
		padding: 15px;
	}
	.attachments-wrapper {
		margin-top: 15px;
	}
	.attachments-wrapper ul {
		padding: 0 20px 20px;
	}
	.attachment-block {
		height: 140px;
		margin-right: 20px;
		margin-top: 20px;
		width: 252px;
	}
	.attachment-thumb {
		height: 80px;
		width: 80px;
	}
	.attachment-details {
		height: 140px;
		margin-left: 80px;
		padding: 10px 20px;
	}
	.note-block {
		padding: 10px 20px;
	}
	.note-block.expand {
		padding: 20px;
	}
	.note-block .note-content {
		font-size: 14px;
		font-size: 1.4rem;
	}
	.note-block .datestamp {
		font-size: 12px;
		font-size: 1.2rem;
	}
	.filter-controls-block {
		padding: 40px 60px;
		position: relative;
	}
	.filter-controls-block .results-block {
		font-size: 14px;
		font-size: 1.4rem;
		top: 40px;
	}
	.table-wrapper {
		padding: 0 60px;
	}

	.modal-dialog {
		margin: 80px auto;
		width: 450px;
	}
    .modal-sm {
        width: 300px;
    }

    .responsive-tab-content .nav-tabs > li > a {
		font-size: 16px;
		font-size: 1.6rem;
		padding: 24px;
	}
	.responsive-tab-content .nav-tabs > li > a  [class^="dlicons-"], .responsive-tab-content .nav-tabs > li > a  [class*=" dlicons-"] {
		font-size: 30px;
		font-size: 3rem;
	}
	.responsive-tab-content .tab-content {
		padding: 30px;
	}
	#sectPersonal.section-block, #sectPayment.section-block {
		padding: 20px 5px 5px;
	}
	#sectPayment select {
		display: inline-block;
		margin-left: 5px;
		width: 136px;
	}
	#sectUsers.section-block, #sectInvite.section-block {
		padding: 10px 0;
	}
	.section-block .table thead tr th {
		font-size: 12px;
		font-size: 1.2rem;
	}
	.section-block .table tbody tr td.cell-created, .section-block .table tbody tr td.cell-invited {
		font-size: 12px;
		font-size: 1.2rem;
	}
	.section-block td.cell-status {
		padding-right: 120px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	.global-notification-bar{
		margin-top: 15px;
		margin-left: 250px;
		max-width: 670px;
		min-width: 670px;
	}

	.attachment-block {
		width: 235px;
	}
	li.attachment-block:nth-child(3n+0) {
		margin-right: 20px;
	}
	li.attachment-block:nth-child(4n+0) {
		margin-right: 0;
	}
	.responsive-tab-content .nav-tabs > li > a {
		font-size: 20px;
		font-size: 2rem;
		padding: 30px;
	}
	.responsive-tab-content .nav-tabs > li > a  [class^="dlicons-"], .responsive-tab-content .nav-tabs > li > a  [class*=" dlicons-"] {
		font-size: 40px;
		font-size: 4rem;
	}
	.responsive-tab-content .tab-content {
		padding: 40px;
	}
	#sectPersonal.section-block, #sectPayment.section-block {
		padding: 25px 5px 5px;
	}
	#sectPayment select {
		display: inline-block;
		margin-left: 10px;
		width: 158px;
	}
	#sectPayment #selectExpMM {
		margin-left: 0;
	}
	.section-block td.cell-status {
		padding-right: 200px;
	}
}

#resultLoading, #progressLoading{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#resultLoading .bg, #progressLoading .bg{
	background: #000000;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#resultLoading .loading-container, #progressLoading .loading-container{
	width: 250px;
	height: 75px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	font-size: 16px;
	z-index: 10;
	color: #ffffff;
}

.clickable{
	cursor: pointer;
}

.has-error .alert-warning{
	border-color: red;
	color: red;
}

label.tooth-label {
    border-color: rgb(243, 243, 243);
    width: 30px;
    padding: 3px 0;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
}

label.tooth-label-view{
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(170, 170, 170);
    border-color: rgb(243, 243, 243);
}

.delete-button-margin{
    margin-top: 5px;
    margin-right: 5px;
}

#formNewNote textarea{
	height: 250px;
}

#formEditNote textarea{
	height: 250px;
}

.select-padding {
	padding-right: 25px !important;
}

#formNewPatient select{
	overflow-y: auto;
}

.note-block.expand .note-expand.more{
	display: none;
}

.note-block.expand .note-expand.less{
	display: inline-block;
}
.note-block .note-expand.more{
	display: inline-block;
}

.note-block .note-expand.less{
	display: none;
}

.note-block.expand .less ~ .edit {
	margin-left: 1.9%
}

.note-block .edit{
	cursor: pointer;
	margin-left: 1%;
}

.note-block .edit.ng-hide + .datestamp {
	margin-left: 4.7% !important;
}

.resend-link{
	text-decoration: underline;
}

.resend-link:hover{
	text-decoration: underline;
	cursor: pointer;
}

@media screen and (max-width: 1199px)  {
	.btn-delete.active + .btn-change-password{
		display: none;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px)  {
	.btn-delete.active{
		right: 20px !important;
	}
	.note-block .datestamp {
		width: 10%;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.btn-delete.active{
		right:5px !important;
	}
	.note-block .datestamp {
		width: 9%;
	}
	#consoleTabContent .console-practice-btns .btn-toggle{
		right: 15px !important;
	}
}

@media screen and (max-width: 767px) {
	.btn-delete.active{
		right: 0px !important;
	}
	#consoleTabContent .console-practice-btns .btn-toggle{
		right: 15px !important;
	}
}
.roles-selector .row{
	margin-left: 0px;
}

.roles-selector input{
	margin-left: -13px !important;
}

.roles-selector label.checkbox, .roles-selector label.radio {
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 5px;
}

.pagination {
	margin: 0px;
}

#consoleTabContent .practice-search-status{
	right: 40px;
}

#consoleTabContent .btn-delete{
	top: 2.5%;
	background-color: inherit;
	color: #fff;
	z-index: 1;
}

#consoleTabContent .btn-delete.active{
	width: 155px;
}

#consoleTabContent .btn-delete:hover{
	background-color: inherit;
	color: #fff;
	z-index: 1;
}

#consoleTabContent .btn-change-password{
	cursor: pointer;
	position: absolute;
	right: 80px;
	top: 2.5%;
	height: 20px;
	width: 20px;
}

#consoleTabContent .console-address-btns{
	position: absolute;
	right: 0;
	top: -51px;
}

#consoleTabContent .address-form{
	position: relative;
}

#consoleTabContent .console-address-btns button{
	font-size: 1.2rem!important;
	padding: 8px 10px!important;
}

#consoleTabContent .address-form .btn-delete{
	top: 25%;
	color: inherit;
	right: 40px !important;
	background-color: #ffffff;
}

#consoleTabContent .address-form .btn-delete.active{
	width: 115px;
}

#consoleTabContent .btn-add-address{
	margin-top: 15px;
}

#consoleTabContent .console-practice-btns .btn-toggle{
	position: absolute;
	top: 0px;
	right: 20px;
	border-radius: 0 4px 0 0;
	font-size: 1.4rem!important;
	padding: 10px 14px!important;
}

#consoleTabContent .console-practice-btns .btn-delete{
	top: 0px;
	margin-top: 10px;
	right: 80px !important;
	background-color: #428bca;
}

#consoleTabContent .console-practice-btns .btn-delete.active{
	width: 110px;
}

#consoleTabContent .with-btn{
	border-bottom: none;
	padding: 11px 15px;
}

#sectPractice .input-block .btn-delete.active{
	width: 110px;
}

.invite-link-group {
	overflow: hidden;
    word-wrap: break-word;
}

.report-panel-scroll{
	max-height: 500px;
	overflow-y: auto;
}

.center-block {
	float: none;
}
