@font-face {
	font-family: 'dlicons';
	src:url('fonts/dlicons.eot?fm9bta');
	src:url('fonts/dlicons.eot?#iefixfm9bta') format('embedded-opentype'),
		url('fonts/dlicons.woff?fm9bta') format('woff'),
		url('fonts/dlicons.ttf?fm9bta') format('truetype'),
		url('fonts/dlicons.svg?fm9bta#dlicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="dlicons-"], [class*=" dlicons-"] {
	font-family: 'dlicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dlicons-file-pdf:before {
	content: "\e602";
}
.dlicons-file-word:before {
	content: "\e603";
}
.dlicons-file-excel:before {
	content: "\e604";
}
.dlicons-file-zip:before {
	content: "\e605";
}
.dlicons-plus:before {
	content: "\e601";
}
.dlicons-office:before {
	content: "\e606";
}
.dlicons-remove:before {
	content: "\e607";
}
.dlicons-search:before {
	content: "\e608";
}
.dlicons-user-add:before {
	content: "\e600";
}
.dlicons-user:before {
	content: "\f007";
}
.dlicons-check:before {
	content: "\f00c";
}
.dlicons-pencil:before {
	content: "\f040";
}
.dlicons-group:before {
	content: "\f0c0";
}
.dlicons-download:before {
    content: "\e900";
}
