<div class="row"  >

    <div class="input-block col-xs-6 col-sm-6" ng-class="{'has-error': form.$dirty && form.onbehalf.$invalid }">
        <div class="block-title">
            <h2>On behalf of</h2>
        </div>

        <alert type="{{alert.type}}" ng-show="form.$dirty && form.behalf.$invalid">Please select provider</alert>
        <select ng-disabled="!userIsAux" id="behalfProvider" name="onbehalf" class="form-control" ng-model="model.referral.orig_provider_id" ng-options="p.id as 'Dr. ' + p.first_name + ' ' + p.last_name for p in currentPracticeProviders" ng-required="userIsAux">
            <option selected="selected" class="placeholder" value="">Choose a provider &hellip;</option>
        </select>
    </div>
    <div ng-disabled="" class="input-block col-xs-6 col-sm-6" ng-class="{'has-error': form.$dirty && form.location.$invalid }">
        <div class="block-title">
            <h2>From Location</h2>
        </div>

        <alert type="{{alert.type}}" ng-show="form.$dirty && form.location.$invalid">Please select location</alert>
        <select ng-disabled='disableLocations' name="location" class="form-control" ng-model="model.referral.orig_provider_address_id" ng-options="l.id as l.street_line_1 + ', ' + l.city + ', ' + l.state for l in providerLocations" ng-required="!disableLocations">
            <option class="placeholder" value="">Choose a location &hellip;</option>
        </select>
    </div>
</div>
