<div class="row">
    <div class="input-block col-xs-12 col-sm-6" ng-class="{'has-error': form.practiceType.$dirty && form.practiceType.$invalid }">
        <div class="block-title">
            <h2>Referral type</h2>
        </div>
        <select id="selectRefType" class="form-control" name="practiceType" ng-model="practiceType"  ng-options="p as p.name for p in practiceTypes" ng-required="true">
            <option selected="selected" class="placeholder" value="">Select type &hellip;</option>
        </select>
    </div>

    <div class="input-block col-xs-12 col-sm-6" ng-class="{'has-error': form.procedure.$dirty && form.procedure.$invalid }">
        <div class="block-title">
            <h2>Procedure</h2>
        </div>
        <select id="selectProcedure" ng-disabled="!practiceType" name="procedure" class="form-control" ng-model="model.referral.procedure_id"  ng-options="p.id as p.name for p in practiceType.procedures" ng-required="true">
            <option selected="selected" class="placeholder" value="">Select procedure &hellip;</option>
        </select>
    </div>
</div>