
.css-form input.ng-invalid.ng-dirty,
.css-form textarea.ng-invalid.ng-dirty,
.css-form select.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty,
.css-form textarea.ng-valid.ng-dirty,
.css-form select.ng-valid.ng-dirty {
    background-color: #78FA89;
}

div.error{
    background-color: #FA787E;
}
div.success{
    background-color: #78FA89;
}

.field-group {
    border: 1px solid #d3d3d3;
}

/* dialogs*/
.modal {
    display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }
